<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-2 item">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="/servicios">Hospitalario</a></li>
                        <li><a href="/servicios">Hogar</a></li>
                        <li><a href="/servicios">Clínica<br></a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-2 item">
                    <h3>Nosotros</h3>
                    <ul>
                        <li><a href="/about">Compañia</a></li>
                        <li><a href="/tecno">Tecnología</a></li>
                        <li><a href="#">Protocolos</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-4 item text"><img src="img/ProkeepLogo.png" width="150">
                    <p>Empresa especializada en la desinfección de superficies , con sistemas innovadores de
                        alta
                        efectividada<br></p>

                </div>
                <div class="col-sm-4 col-md-4 item text">
                    <div class="find-widget">
                        Direccíon: <a href="#">Condado de Rey, Plaza Mi Condado piso 3 Oficina 59</a>
                    </div>
                    <div class="find-widget">
                        Telefono: <a href="#">+507 836-7746</a>
                    </div>
                    <div class="find-widget">
                        Horario: <a href="#">Lunes a Sabado: 8:00 AM - 5:00 PM</a>
                    </div>
                </div>
            </div>
            <p class="copyright">prockeep © 2019</p>
        </div>
    </footer>
</div>