<!-- <div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-2 item">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="/servicios">Hospitalario</a></li>
                        <li><a href="/servicios">Hogar</a></li>
                        <li><a href="/servicios">Clínica<br></a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-2 item">
                    <h3>Nosotros</h3>
                    <ul>
                        <li><a href="/about">Compañia</a></li>
                        <li><a href="/tecno">Tecnología</a></li>
                        <li><a href="#">Protocolos</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-4 item text">
                    <img src="img/ProkeepLogo.png" width="150">
                    <p>Empresa especializada en la desinfección de superficies , con sistemas innovadores de
                        alta
                        efectividada<br></p>

                </div>
                <div class="col-sm-4 col-md-4 item text">
                    <div class="find-widget">
                        Direccíon: <a href="#">Condado de Rey, Plaza Mi Condado piso 3 Oficina 59</a>
                    </div>
                    <div class="find-widget">
                        Telefono: <a href="#">+507 836-7746</a>
                    </div>
                    <div class="find-widget">
                        Horario: <a href="#">Lunes a Sabado: 8:00 AM - 5:00 PM</a>
                    </div>
                </div>
            </div>
            <p class="copyright">prockeep © 2019</p>
        </div>
    </footer>
</div> -->

<!-- Footer -->
<!-- <section id="footer" style="display: block;">
    <div class="container mt-3">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h5>Nuestros Servicios</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/servicios"><i class="fa fa-angle-double-right"></i>Hospitalario</a></li>
                    <li><a href="/servicios"><i class="fa fa-angle-double-right"></i>Hogar</a></li>
                    <li><a href="/servicios"><i class="fa fa-angle-double-right"></i>Clínica<br></a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h5>Conoce mas de Nosotros</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/about"><i class="fa fa-angle-double-right"></i>Compañia</a></li>
                    <li><a href="/tecno"><i class="fa fa-angle-double-right"></i>Tecnología</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Protocolos</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h5>Contactenos</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="fa fa-address-card-o"></i> Condado de Rey, Plaza Mi Condado piso 3
                            Oficina 59</a></li>
                    <li><a href="#"><i class="fa fa-phone-square"></i> +507
                            836-7746</a></li>
                    <li><a href="#"><i class="fa fa-bullhorn"></i> Lunes a Sabado: 8:00 AM - 5:00 PM</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">


                    <img src="img/ProkeepLogo.png" width="100%" height="30%" />
                <br>
                <br>
                <img src="img/cas.png" width="100%" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/Prockeep-Mobile-106410010776124/?ti=as" target="_blank"><i
                                class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/Prockeep_Mobile?s=08" target="_blank"><i
                                class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://instagram.com/prockeep?igshid=z336zf7rhb3c" target="_blank"><i
                                class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCtgjFE2GEAGldW-nunwvr9A" target="_blank"><i
                                class="fa fa-youtube"></i></a></li>
                  
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <br>
                <p class="h6"><a class="text-green ml-2" href="#"
                        target="_blank"><strong>prockeep</strong></a>
                    <font color="#fff">© 2019 Todos los derechos reservado.</font>
                </p>
            </div>
        </div>
    </div>
</section> -->
<!-- ./Footer -->


<footer class="footer">
        <div class="cta_area2 footer-connect text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 footer-connect-text">
                            <img src="img/ProkeepLogo.png" width="300">
                            <p class="ls">Especialistas en la desinfección de superficies<br></p>
                            
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle mb-30">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="footer-image">
                            <img src="https://www.hummingwebians.com/public/images/phone-circle.png">
                        </div>
                        <div class="footer-middle-contact">
                            <h2>Contactenos</h2>
                            <p><a class="phone" href="#">+507 836-7746 </a></p>
                            
                        </div>
                    </div>
                    <div class="col-md-4 text-center footer-middle-box-border">
                        <div class="footer-image">
                            <img src="https://www.hummingwebians.com/public/images/web-circle.png">
                        </div>    
                        <div class="footer-middle-contact">
                            <h2>Siguenos</h2>
                            <ul class="social-list">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/Prockeep-Mobile-106410010776124/?ti=as" target="_blank"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/Prockeep_Mobile?s=08" target="_blank"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://instagram.com/prockeep?igshid=z336zf7rhb3c" target="_blank"><i
                                        class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCtgjFE2GEAGldW-nunwvr9A" target="_blank"><i
                                        class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="footer-image">
                            <img src="https://www.hummingwebians.com/public/images/place-circle.png">
                        </div>    
                        <div class="footer-middle-contact ">
                            <h2>Direccíon</h2>
                            <p class="footer-middle-address"> <a href="#">Panama Ciudad de Panama.</a></p>
                            <p class="no-margin">Condado de Rey</p>
                            <p class="no-margin"> Plaza Mi Condado</p>
                            <p class="no-margin"> piso 3
                                    Oficina 59 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_btm wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 footer-bottom text-center">
                       
                        <p>@copy; 2019 <a href="#">prockeep.</a> All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>