<!-- <div class="social-icons mx-liner">
    <div class="mr-2 ml-3">
        <a href="https://twitter.com/Prockeep_Mobile?s=08">
            <i id="social-tw" class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/Prockeep-Mobile-106410010776124/?ti=as">
            <i id="social-fb" class="fab fa-facebook-f"></i>
        </a>
        <a href="https://instagram.com/prockeep?igshid=z336zf7rhb3c">
            <i id="social-ig" class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCtgjFE2GEAGldW-nunwvr9A">
            <i id="social-yb" class="fab fa-youtube"></i>
        </a>
    </div>
    <div style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a class="staff" href="/login">
                        <i class="fas fa-users-cog"></i>
                        <span class="section-staff">Staff</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="text-white site-preheader">
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="" style="width: 280px;float: left;margin-top: -19px;">
                <img class="img-fluid img-movile" src="img/ProkeepLogo.png" width="500">
            </a>
            <button data-toggle="collapse"
                class="navbar-toggler button-movile" data-target="#navcol-1"
                style="background: rgba(255,255,255,0);"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"><i class="fas fa-th-list"></i></span></button>
            <div class="collapse navbar-collapse text-white" id="navcol-1">
                <ul class="breadcrumb">
                    <% if(titulo === "Home") {%>
                    <li class="home active"><a href="/"><i class="fas fa-home"></i><span>Home</span></a></li>
                    <li class="not"><a href="/about">Nosotros</a></li>
                    <li class="not"><a href="/tecno">Tecnología</a></li>
                    <li class="not"><a href="/servicios">Servicio</a></li>
                    <li class="not"><a href="/validate">Compatibilidad</a></li>
                    <li class="not"><a href="/research">Eficiencia Biologica</a></li>
                   
                    <%}%>

                    <% if(titulo === "Nosotros") {%>
                    <li class="home"><a href="/"><i class="fas fa-home"></i><span>Home</span></a></li>
                    <li class="not active"><a href="/about">Nosotros</a></li>
                    <li class="not"><a href="/tecno">Tecnología</a></li>
                    <li class="not"><a href="/servicios">Servicio</a></li>
                    <li class="not"><a href="/validate">Compatibilidad</a></li>
                    <li class="not"><a href="/research">Eficiencia Biologica</a></li>
                    <%}%>
                            
                    <% if(titulo === "Tecnologia") {%>
                    <li class="home"><a href="/"><i class="fas fa-home"></i><span>Home</span></a></li>
                    <li class="not"><a href="/about">Nosotros</a></li>
                    <li class="not active"><a href="/tecno">Tecnología</a></li>
                    <li class="not"><a href="/servicios">Servicio</a></li>
                    <li class="not"><a href="/validate">Compatibilidad</a></li>
                    <li class="not"><a href="/research">Eficiencia Biologica</a></li>
                    <%}%>

                    <% if(titulo === "Servicios") {%>
                    <li class="home"><a href="/"><i class="fas fa-home"></i><span>Home</span></a></li>
                    <li class="not"><a href="/about">Nosotros</a></li>
                    <li class="not"><a href="/tecno">Tecnología</a></li>
                    <li class="not active"><a href="/servicios">Servicio</a></li>
                    <li class="not"><a href="/validate">Compatibilidad</a></li>
                    <li class="not"><a href="/research">Eficiencia Biologica</a></li>
                    <% } %>

                    <% if(titulo === "Compatibilidad ") {%>
                        <li class="home"><a href="/"><i class="fas fa-home"></i><span>Home</span></a></li>
                        <li class="not"><a href="/about">Nosotros</a></li>
                        <li class="not"><a href="/tecno">Tecnología</a></li>
                        <li class="not"><a href="/servicios">Servicio</a></li>
                        <li class="not active"><a href="/validate">Compatibilidad</a></li>
                        <li class="not"><a href="/research">Eficiencia Biologica</a></li>
                        <% } %>
               <% if(titulo === "Eficiencia Biologica") {%>
                <li class="home"><a href="/"><i class="fas fa-home"></i><span>Home</span></a></li>
                        <li class="not"><a href="/about">Nosotros</a></li>
                        <li class="not"><a href="/tecno">Tecnología</a></li>
                        <li class="not"><a href="/servicios">Servicio</a></li>
                        <li class="not"><a href="/validate">Compatibilidad</a></li>
                        <li class="not active"><a href="/research">Eficiencia Biologica</a></li>
                <%}%>
                </ul>
                <% if(titulo != "Calculadora") {%>
               
                <% } else { %>
                    <ul class="nav navbar-nav text-white ml-auto">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link text-white btn btn-sm" href="#" ng-click="reset()"
                                    style="border-radius: 24px;background: #0b79b2;/*margin-top: -16px;*/">
                                    Reset</a></li>
                        </ul>
                <% } %>  
            </div>
        </div>
    </nav>
</header>
<div class="page-wrapper chiller-theme movile-nav">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#"></a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
           
            <div class='swanky'>
               
                <div class='swanky_wrapper'>
                    <label for='Dashboard' class="swanky_active">
                        <span>
                            <a href="/">
                                <i class="fas fa-home fa-2x swanky_i"></i>
                                <p class="swanky_p">Home</p>
                            </a>
                        </span>
                    </label>
                    <label for='Dashboard'>
                        <span>
                            <a href="/about">
                                <p class="swanky_p">Nosotros</p>
                            </a>
                        </span>
                    </label>
                    <label for='Dashboard'>
                        <span>
                            <a href="/tecno">
                                <p class="swanky_p" style="margin-left: -27px;">Tecnología</p>
                            </a>
                        </span>
                    </label>
                    <label for='Dashboard'>
                        <span>
                            <a href="/servicios">
                                <p class="swanky_p">Servicio</p>
                            </a>
                        </span>
                    </label>
                    <label for='Dashboard'>
                            <span>
                                <a href="/validate">
                                    <p class="swanky_p" style="margin-left: -35px;">Compatibilidad</p>
                                </a>
                            </span>
                        </label>
                        <label for='Dashboard'>
                            <span>
                                <a href="/research">
                                    <p class="swanky_p" style="margin-left: -35px;">Eficacia Biologica</p>
                                </a>
                            </span>
                        </label>
                </div>
           
            </div>
          
        </div>
    </nav>
</div> -->

<% if(titulo === "Home") {%>
<script src="./js/jquery.min.js"></script>
<script>
    $(window).on("scroll", function () {
        if ($(window).scrollTop()) {
            $('nav').addClass('black');
        }

        else {
            $('nav').removeClass('black');
        }
    });
</script>
<header>
    <nav class="menum ">
        <div class="menu-icon">
            <div class="menu-movile"> <span></span> </div>
        </div>
        <nav id="nav">
            <ul class="main">
                <li><a href="/">Home</a></li>
                <li><a href="/about">Nosotros</a></li>
                <li><a href="/tecno">Tecnología</a></li>
                <li><a href="/servicios">Servicio</a></li>
                <li><a href="/validate">Compatibilidad</a></li>
                <li><a href="/research">Eficiencia Biologica</a></li>
            </ul>
        </nav>
        <div class="logo">
            <a class="navbar-brand" href="" style="width: 325px;float: left;margin-top: -14px;margin-left: -20px;">
                <img class="img-fluid img-movile" src="img/ProkeepLogo.png" width="500">
            </a>
        </div>
        <div class="menu">
            <ul class="topBotomBordersOut">
                <li class="nav-item active"><a class="nav-link active" href="/"><i class="fas fa-home"></i><span
                            class="big_title3 "> Home</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/about"><span class="big_title3 ">Nosotros</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/tecno"><span class="big_title3 ">Tecnología</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/servicios"><span class="big_title3 ">Servicio</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/validate"><span
                            class="big_title3 ">Compatibilidad</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/research"><span class="big_title3 ">Eficiencia
                            Biologica</span></a></li>
            </ul>
        </div>
    </nav>
</header>
<%}%>
<% if(titulo === "Nosotros"){%>
<header style="height: 11vh;">
    <nav class="menum black">
            <div class="menu-icon">
                    <div class="menu-movile"> <span></span> </div>
                </div>
                <nav id="nav">
                    <ul class="main">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">Nosotros</a></li>
                        <li><a href="/tecno">Tecnología</a></li>
                        <li><a href="/servicios">Servicio</a></li>
                        <li><a href="/validate">Compatibilidad</a></li>
                        <li><a href="/research">Eficiencia Biologica</a></li>
                    </ul>
                </nav>
                <div class="logo">
                    <a class="navbar-brand" href="" style="width: 325px;float: left;margin-top: -14px;margin-left: -20px;">
                        <img class="img-fluid img-movile" src="img/ProkeepLogo.png" width="500">
                    </a>
                </div>
        <div class="menu">
            <ul class="topBotomBordersOut">
                <li class="nav-item active"><a class="nav-link" href="/"><i class="fas fa-home"></i><span
                            class="big_title3 "> Home</span></a></li>
                <li class="nav-item"><a class="nav-link active" href="/about"><span
                            class="big_title3 ">Nosotros</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/tecno"><span class="big_title3 ">Tecnología</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/servicios"><span class="big_title3 ">Servicio</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/validate"><span
                            class="big_title3 ">Compatibilidad</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/research"><span class="big_title3 ">Eficiencia
                            Biologica</span></a></li>
            </ul>
        </div>
    </nav>
</header>
<%}%>
<% if(titulo === "Tecnologia" ){%>
<header style="height: 11vh;">
    <nav class="menum black">
        <div class="menu-icon">
            <div class="menu-movile"> <span></span> </div>
        </div>
        <nav id="nav">
            <ul class="main">
                <li><a href="/">Home</a></li>
                <li><a href="/about">Nosotros</a></li>
                <li><a href="/tecno">Tecnología</a></li>
                <li><a href="/servicios">Servicio</a></li>
                <li><a href="/validate">Compatibilidad</a></li>
                <li><a href="/research">Eficiencia Biologica</a></li>
            </ul>
        </nav>
        <div class="logo">
            <a class="navbar-brand" href="" style="width: 325px;float: left;margin-top: -14px;margin-left: -20px;">
                <img class="img-fluid img-movile" src="img/ProkeepLogo.png" width="500">
            </a>
        </div>
        <div class="menu">
            <ul class="topBotomBordersOut">
                <li class="nav-item active"><a class="nav-link" href="/"><i class="fas fa-home"></i><span
                            class="big_title3 "> Home</span></a></li>
                <li class="nav-item"><a class="nav-link " href="/about"><span class="big_title3 ">Nosotros</span></a>
                </li>
                <li class="nav-item"><a class="nav-link active" href="/tecno"><span
                            class="big_title3 ">Tecnología</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/servicios"><span class="big_title3 ">Servicio</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/validate"><span
                            class="big_title3 ">Compatibilidad</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/research"><span class="big_title3 ">Eficiencia
                            Biologica</span></a></li>
            </ul>
        </div>
    </nav>
</header>
<%}%>
    <% if(titulo === "Servicios" ){%>
<header style="height: 11vh;">
    <nav class="menum black">
        <div class="menu-icon">
            <div class="menu-movile"> <span></span> </div>
        </div>
        <nav id="nav">
            <ul class="main">
                <li><a href="/">Home</a></li>
                <li><a href="/about">Nosotros</a></li>
                <li><a href="/tecno">Tecnología</a></li>
                <li><a href="/servicios">Servicio</a></li>
                <li><a href="/validate">Compatibilidad</a></li>
                <li><a href="/research">Eficiencia Biologica</a></li>
            </ul>
        </nav>
        <div class="logo">
            <a class="navbar-brand" href="" style="width: 325px;float: left;margin-top: -14px;margin-left: -20px;">
                <img class="img-fluid img-movile" src="img/ProkeepLogo.png" width="500">
            </a>
        </div>
        <div class="menu">
            <ul class="topBotomBordersOut">
                <li class="nav-item active"><a class="nav-link" href="/"><i class="fas fa-home"></i><span
                            class="big_title3 "> Home</span></a></li>
                <li class="nav-item"><a class="nav-link " href="/about"><span class="big_title3 ">Nosotros</span></a>
                </li>
                <li class="nav-item"><a class="nav-link " href="/tecno"><span class="big_title3 ">Tecnología</span></a>
                </li>
                <li class="nav-item"><a class="nav-link  active" href="/servicios"><span
                            class="big_title3 ">Servicio</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/validate"><span
                            class="big_title3 ">Compatibilidad</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/research"><span class="big_title3 ">Eficiencia
                            Biologica</span></a></li>
            </ul>
        </div>
    </nav>
</header>
<%}%>
    <% if( titulo === "Compatibilidad "){%>
<header style="height: 11vh;">
    <nav class="menum black">
        <div class="menu-icon">
            <div class="menu-movile"> <span></span> </div>
        </div>
        <nav id="nav">
            <ul class="main">
                <li><a href="/">Home</a></li>
                <li><a href="/about">Nosotros</a></li>
                <li><a href="/tecno">Tecnología</a></li>
                <li><a href="/servicios">Servicio</a></li>
                <li><a href="/validate">Compatibilidad</a></li>
                <li><a href="/research">Eficiencia Biologica</a></li>
            </ul>
        </nav>
        <div class="logo">
            <a class="navbar-brand" href="" style="width: 325px;float: left;margin-top: -14px;margin-left: -20px;">
                <img class="img-fluid img-movile" src="img/ProkeepLogo.png" width="500">
            </a>
        </div>
        <div class="menu">
            <ul class="topBotomBordersOut">
                <li class="nav-item active"><a class="nav-link" href="/"><i class="fas fa-home"></i><span
                            class="big_title3 "> Home</span></a></li>
                <li class="nav-item"><a class="nav-link " href="/about"><span class="big_title3 ">Nosotros</span></a>
                </li>
                <li class="nav-item"><a class="nav-link " href="/tecno"><span class="big_title3 ">Tecnología</span></a>
                </li>
                <li class="nav-item"><a class="nav-link " href="/servicios"><span
                            class="big_title3 ">Servicio</span></a></li>
                <li class="nav-item"><a class="nav-link active" href="/validate"><span
                            class="big_title3 ">Compatibilidad</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/research"><span class="big_title3 ">Eficiencia
                            Biologica</span></a></li>
            </ul>
        </div>
    </nav>
</header>
<%}%>
        <% if( titulo === "Eficiencia Biologica"){%>
<header style="height: 11vh;">
    <nav class="menum black">
        <div class="menu-icon">
            <div class="menu-movile"> <span></span> </div>
        </div>
        <nav id="nav">
            <ul class="main">
                <li><a href="/">Home</a></li>
                <li><a href="/about">Nosotros</a></li>
                <li><a href="/tecno">Tecnología</a></li>
                <li><a href="/servicios">Servicio</a></li>
                <li><a href="/validate">Compatibilidad</a></li>
                <li><a href="/research">Eficiencia Biologica</a></li>
            </ul>
        </nav>
        <div class="logo">
            <a class="navbar-brand" href="" style="width: 325px;float: left;margin-top: -14px;margin-left: -20px;">
                <img class="img-fluid img-movile" src="img/ProkeepLogo.png" width="500">
            </a>
        </div>
        <div class="menu">
            <ul class="topBotomBordersOut">
                <li class="nav-item active"><a class="nav-link" href="/"><i class="fas fa-home"></i><span
                            class="big_title3 "> Home</span></a></li>
                <li class="nav-item"><a class="nav-link " href="/about"><span class="big_title3 ">Nosotros</span></a>
                </li>
                <li class="nav-item"><a class="nav-link " href="/tecno"><span class="big_title3 ">Tecnología</span></a>
                </li>
                <li class="nav-item"><a class="nav-link " href="/servicios"><span
                            class="big_title3 ">Servicio</span></a></li>
                <li class="nav-item"><a class="nav-link " href="/validate"><span
                            class="big_title3 ">Compatibilidad</span></a></li>
                <li class="nav-item"><a class="nav-link active" href="/research"><span class="big_title3 ">Eficiencia
                            Biologica</span></a></li>
            </ul>
        </div>
    </nav>
</header>
<%}%>



            