<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title><%= titulo%></title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="fonts/font-awesome.min.css">
  <link rel="stylesheet" href="fonts/ionicons.min.css">
  <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="css/styles-web.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
  <link rel="shortcut icon" type="image/png" href="/img/icon/favicon.png">
  <link rel="shortcut icon" sizes="196x196" href="/img/icon/favicon.png">
  <link rel="apple-touch-icon" href="/img/icon/favicon.png">
  <% if(titulo != "Calculadora") {%>
  <script type="text/javascript" src="https://www.varcreative.com/sistema/resources/js/loader.js"></script>
  <script type="text/javascript">loadScript("https://www.varcreative.com/sistema/whatsapp/get/" + window.location.hostname + "/");</script>
  <%}%>


    <!-- alertify  -->
    <link rel="stylesheet" href="plugin/alertify/css/alertify.min.css">
    <link rel="stylesheet" href="plugin/alertify/css/themes/bootstrap.min.css">
    <link rel="stylesheet" href="plugin/alertify/css/themes/default.min.css">
    <link rel="stylesheet" href="plugin/alertify/css/themes/semantic.min.css">


</head>