<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SIPKEEP</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/styles-keep.css">
    <script src="plugin/modernizr/modernizr-2.6.2/js/modernizr-2.6.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

 
    
    <!-- alertify  -->
    <link rel="stylesheet" href="plugin/alertify/css/alertify.min.css">
    <link rel="stylesheet" href="plugin/alertify/css/themes/bootstrap.min.css">
    <link rel="stylesheet" href="plugin/alertify/css/themes/default.min.css">
    <link rel="stylesheet" href="plugin/alertify/css/themes/semantic.min.css">


</head>



