<div id="header-container">
    <div id="header">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="brand" href="javascript:void(0);">
                        <img src="img/demo/logo-brand.png" alt="logo"></a>
                    
                    <div class="nav-collapse collapse">
                        <ul class="nav user-menu visible-desktop">
                            <li><a class="btn-glyph fontello-icon-edit tip-bc" href="javascript:void(0);" title="Messages"><span class="badge badge-important" id="msg"></span></a></li>
                            <li><a class="btn-glyph fontello-icon-mail-1 tip-bc" href="javascript:void(0);" title="Emails"></a></li>
                            <li><a class="btn-glyph fontello-icon-lifebuoy tip-bc" href="javascript:void(0);" title="invoice"><span class="badge badge-important" id="ticket"></span></a></li>
                            <li><a id="btnLogout" class="btn-glyph fontello-icon-logout-1 tip-bc" href="/logout" title="logout"><span class="badge badge-important"></span></a></li>
                            <!-- <li><a id="btnLogout" class="btn-glyph fontello-icon-logout-1 tip" href="javascript:void(0);" title="logout"></a></li> -->
                        </ul>
                        <ul class="nav">
                            <li class="active"><a href="/home">Home</a> </li>
                            <li><a href="fullcalendar-demo.html"><span class="booico-calendar-3"></span> Agenda</a> </li>
                            <li><a href="/contact-manager"><span class="booico-user"></span> Contactos</a> </li>
                            <li><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Panel Administrativo </a>
    
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- // navbar -->
        <div class="divisor"></div>
        <!-- // divisor -->
    </div>
</div>
<!-- // header-container -->