<!DOCTYPE html>
<html>

<% include ./partials/head %>
<link rel="stylesheet" href="css/style-about.css">

<body class="easy">
    <div class="wrapper">
        <% include ./partials/header %>
        <div class="content">
            <div id="parallax-world-of-ugg">
                <section>
                    <div class="parallax-one">
                        <h2 class="brand-title">Quienes Somos?</h2>
                    </div>
                </section>

                <section>
                    <div class="block">
                        <p><span class="first-character sc">I</span> Somos una empresa de servicio especializada en
                            <strong class="biokeep">sanitización inteligente y
                                desinfección de alto nivel</strong> . Contamos con un sistema tecnológico de última
                            generación, <strong class="biokeep">Bio-Keep System</strong>, exigente y amigable con el
                            ambiente, apegado a los
                            más altos estándares de calidad, con el fin de prevenir y controlar las infecciones
                            asociadas a zonas críticas, tales como: hospitales, industrias, hoteles, residencias,
                            entre otros.</p>
                        <p class="line-break margin-top-10"></p>
                        <p class="margin-top-10"><span class="first-character sc right">I</span>Conformamos un equipo de
                            trabajo entusiasta y exigente, para lograr el mayor
                            grado de calidad posible con nuestros servicios, día a día sacamos lo mejor de
                            nosotros para cumplir con las expectativas de nuestros clientes, por ello, estamos
                            seguros que somos su mejor opción. 
                        </p>
                        <p class="line-break margin-top-10 mb-3"></p>
                        <p><span class="first-character sc">I</span> Nuestra meta es ofrecer soluciones ecológicas de
                            desinfección y sanitización,
                            buscando siempre la economía en las operaciones y el desarrollo sustentable en
                            todos los proyectos en los que participamos.</p>
                    </div>
                </section>


            </div>
            <!-- <div class="about-section paddingTB60 ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7 col-sm-6">
                            <div class="about-title clearfix">
                                <h1 class="h1-movile">Quienes <span>Somos?</span></h1>
                                
                                <p>
                                    Somos una empresa de servicios con una estructura especializada en la
                                    <strong>Desinfección De Alto Nivel y Sanitización Inteligente </strong> contamos con
                                    un sistema
                                    tecnológico de ultima generación <strong>Bio-Keep System</strong>, nos apegamos a
                                    los mas altos
                                    estándares de calidad, exigentes y amigables con el ambiente con el fin de prevenir
                                    y controlar las infecciones asociadas a zonas críticas, Hospitales, Industrias,
                                    Hoteles, Residencias .
                                </p>
                                <p> Nuestros Procesos de Desinfección De Alto Nivel buscan penetrar en cualquier
                                    tipo de superficies, incluyendo grietas y hendiduras, además, con nuestros
                                    procesos de Sanitización Inteligentes ayudamos a la eliminación de cualquier
                                    materia orgánica en estos lugares de difícil acceso para garantizar la
                                    desinfección.<br />
                                    Hemos conformado un equipo de trabajo entusiasta y exigente, para lograr el
                                    mayor grado de calidad posible con nuestros servicios, día a día sacamos lo mejor
                                    de nosotros para cumplir con las expectativas de nuestros clientes. Por ello,
                                    estamos seguros que somos tu mejor opción.
                                </p>
                                <p>
                                    Nuestra meta es ofrecer soluciones ecológicas de Desinfección y Sanitización,
                                    buscando siempre la economía en las operaciones y un desarrollo sustentable en
                                    todos los proyectos en los que participamos.
                                </p>
                                <div class="about-icons">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/Prockeep-Mobile-106410010776124/?ti=as">
                                                <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/Prockeep_Mobile?s=08">
                                                <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://instagram.com/prockeep?igshid=z336zf7rhb3c">
                                                <i id="social-ig" class="fab fa-instagram fa-3x social"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/channel/UCtgjFE2GEAGldW-nunwvr9A">
                                                <i id="social-yb" class="fab fa-youtube fa-3x social"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6">
                            <div class="about-img">
                                <img src="./img/grupo.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <% include ./partials/footer %>
    <% include ./partials/script %>
</body>

</html>