<!DOCTYPE html>
<html>

<% include ./partials/head %>

<body class="easy">
    <% include ./partials/header %>

    <div class="about-section paddingTB60 ">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="about-title clearfix">
                        <h1 class="h1-movile">Quienes <span>Somos?</span></h1>
                        <!-- <h3>Lorem ipsum dolor sit amet </h3> -->
                        <p >
                            Somos una empresa de servicios con una estructura especializada en la
                           <strong>Desinfección De Alto Nivel y Sanitización Inteligente </strong> contamos con un sistema
                            tecnológico de ultima generación <strong>Bio-Keep System</strong>, nos apegamos a los mas altos
                            estándares de calidad, exigentes y amigables con el ambiente con el fin de prevenir
                            y controlar las infecciones asociadas a zonas críticas, Hospitales, Industrias,
                            Hoteles, Residencias .
                        </p>
                        <p> Nuestros Procesos de Desinfección De Alto Nivel buscan penetrar en cualquier
                            tipo de superficies, incluyendo grietas y hendiduras, además, con nuestros
                            procesos de Sanitización Inteligentes ayudamos a la eliminación de cualquier
                            materia orgánica en estos lugares de difícil acceso para garantizar la desinfección.<br />
                            Hemos conformado un equipo de trabajo entusiasta y exigente, para lograr el
                            mayor grado de calidad posible con nuestros servicios, día a día sacamos lo mejor
                            de nosotros para cumplir con las expectativas de nuestros clientes. Por ello,
                            estamos seguros que somos tu mejor opción.
                        </p>
                        <p>
                            Nuestra meta es ofrecer soluciones ecológicas de Desinfección y Sanitización,
                            buscando siempre la economía en las operaciones y un desarrollo sustentable en
                            todos los proyectos en los que participamos.
                        </p>
                        <div class="about-icons">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/Prockeep-Mobile-106410010776124/?ti=as">
                                        <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/Prockeep_Mobile?s=08">
                                        <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/prockeep?igshid=z336zf7rhb3c">
                                        <i id="social-ig" class="fab fa-instagram fa-3x social"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCtgjFE2GEAGldW-nunwvr9A">
                                        <i id="social-yb" class="fab fa-youtube fa-3x social"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <div class="about-img">
                        <img src="./img/OH1E2O0.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Hospitalario</a></li>
                            <li><a href="#">Hogar</a></li>
                            <li><a href="#">Clínica<br></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Nostros</h3>
                        <ul>
                            <li><a href="#">Compañia</a></li>
                            <li><a href="#">Equipo</a></li>
                            <li><a href="#">Protocolos</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text"><img src="img/ProkeepLogo.png" width="150">
                        <p>Empresa especializada en la desinfección de superficies , con sistemas innovadores de alta
                            efectividada<br></p>
                    </div>
                </div>
                <p class="copyright">prockeep © 2019</p>
            </div>
        </footer>
    </div>
    <% include ./partials/script %>
</body>

</html>