<!DOCTYPE html>
<html>

<% include ./partials/head %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

<body class="easy">
    <div class="social-icons mx-liner">
        <div class="mr-2 ml-3">
            <a href="#">
                <i id="social-tw" class="fab fa-twitter"></i>
            </a>
            <a href="#">
                <i id="social-fb" class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
                <i id="social-ig" class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i id="social-yb" class="fab fa-youtube"></i>
            </a>
        </div>

        <div style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a class="staff" href="/login">
                            <i class="fas fa-users-cog"></i>
                            <span class="section-staff">Staff</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="text-white site-preheader">
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid"><a class="navbar-brand" href="#"
                    style="width: 280px;float: left;margin-top: -19px;"><img class="img-fluid img-movile"
                        src="img/ProkeepLogo.png" width="500"></a><button data-toggle="collapse"
                    class="navbar-toggler button-movile" data-target="#navcol-1"
                    style="background: rgba(255,255,255,0);"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"><i class="fas fa-th-list"></i></span></button>
                <div class="collapse navbar-collapse text-white" id="navcol-1">
                    <ul class="breadcrumb">
                        <li class="home active"><a href="/"><i class="fas fa-home"></i><span>Home</span></a></li>
                        <li class="not"><a href="/about">Nosotros</a></li>
                        <li class="not"><a href="/tecno">Tecnología</a></li>
                        <li class="not"><a href="/servicios">Servicio</a></li>
                    </ul>
                    <ul class="nav navbar-nav text-white ml-auto">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link text-white btn btn-sm" href="#" data-api="smartsupp"
                                data-operation="open"
                                style="border-radius: 24px;background: #0b79b2;/*margin-top: -16px;*/">Solicitar
                                Cita</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="blog-slider mt-3 mb-2">
        <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
                <div></div>
                <div class="blog-slider__img"><img src="img/2283.jpg"></div>
                <div class="blog-slider__content">
                    <div class="blog-slider__title">ESPECIALISTAS EN DESINFECCIÓN DE AREAS</div>
                    <div class="blog-slider__text">somos pioneros en la utilización de tecnología revolucionaría en la
                        desinfección de areas, lo que nos permite obtener la mejor relación calidad precio en el
                        mercado. Sin duda una experiencia que marcará un antes y un después en los servicios de
                        desinfección. </div>
                    <a class="blog-slider__button" href="#" data-api="smartsupp" data-operation="open">Solicitar
                        cita</a>
                </div>
            </div>
            <div class="blog-slider__item swiper-slide">
                <div></div>
                <div class="blog-slider__img"><img src="img/12785.jpg"></div>
                <div class="blog-slider__content">
                    <div class="blog-slider__title">PROTEGEMOS TU SALUD Y LA DE LOS TUYOS</div>
                    <div class="blog-slider__text">Utilizando tecnología innovadora de desinfección de alto nivel por
                        vía aérea con peróxido de hidrógeno, erradicamos hongos,bacterias y virus de su hogar ayudando
                        así a mantener un ambiente mas puro para sus seres queridos </div>
                    <a class="blog-slider__button" href="#" data-api="smartsupp" data-operation="open">Solicitar
                        cita</a>
                </div>
            </div>
            <div class="blog-slider__pagination"></div>
        </div>
    </div>
    <div class="hr-style"></div>
    <div class="container mt-4">
        <div class="mb-3" id="grand-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="newsticker-container">
                            <div id="newsticker-colour" class="slideup animated"></div>
                            <span class="newsticker-title delay-animated slidein text-center">
                                Somos Especialistas
                            </span>
                            <!-- <div class="newsticker">
                                <ul class="newsticker-list">
                                    <li class="newsticker-item"><a href="default.asp" data-lightbox="photos"
                                            target="_blank" style="color:white;"> linked news </a>

                                    </li>
                                    <li class="newsticker-item"> other news </li>
                                    <li class="newsticker-item">bla bla bla comes first</li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="box"><img src="img/img-2.png" alt="Desmond" style="height: 233px;">
                    <div class="box-heading smooth">
                        <h4 class="title">Desinfeccíon</h4>
                    </div>
                    <div class="boxContent">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/servicios" class="description">
                                    En lugar de adoptar un enfoque de "talla única", implementamos la gama
                                    más amplia de tecnologías de la industria, como lo es vapor de peróxido de hidrógeno
                                    (HPV).
                                    Nuestros servicios de desinfección generalmente brindan un nivel
                                    de garantía de esterilidad log3 a log5 (99.9% -99.999%)...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box"><img src="img/img-2.jpg" alt="Lee-Ann">
                    <div class="box-heading smooth">
                        <h4 class="title"><strong>Sanitización</strong></h4>
                    </div>
                    <div class="boxContent">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/servicios" class="description">
                                    Las consecuencias para las empresas e instituciones que
                                    experimentan
                                    contaminación biológica en industrias de regulación leve a moderada pueden ser tan
                                    importantes como las que operan en industrias altamente reguladas...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box"><img src="img/img-3.jpg" alt="John-John">
                    <div class="box-heading smooth">
                        <h4 class="title">Gestor de Procesos</h4>
                    </div>
                    <div class="boxContent">
                        <a href="/servicios" class="description">La incorporación de las nuevas tecnologías de la
                            información ha permitido
                            dar una redefinición a los procesos alcanzando grados de eficacia y eficiencia
                            inimaginables. Utilizando BPM (Business Process Management)...
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hr-style mb-4"></div>
    <div class="container mb-5">
  
          
            <div class="big-title">
                    <h3 class="big_title">Nuestros Socios Estratégicos</h3>
                    <p class="title-para">Fortaleciendo nuestros servicios</p>
      </div>
       
        <div class="row">
            <div class="col-md-12">
                <div id="news-slider11" class="owl-carousel">
                    <div class="post-slide11">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="post-img">
                                    <img src="img/logo-amilcare.gif" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-slide11">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="post-img">
                                    <img src="img/logo-medical.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-slide11">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="post-img">
                                    <img src="img/logo-platinum.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-slide11">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="post-img">
                                    <img src="img/logo-bio.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Hospitalario</a></li>
                            <li><a href="#">Hogar</a></li>
                            <li><a href="#">Clínica<br></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Nostros</h3>
                        <ul>
                            <li><a href="#">Compañia</a></li>
                            <li><a href="#">Equipo</a></li>
                            <li><a href="#">Protocolos</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text"><img src="img/ProkeepLogo.png" width="150">
                        <p>Empresa especializada en la desinfección de superficies , con sistemas innovadores de alta
                            efectividada<br></p>
                    </div>
                </div>
                <p class="copyright">prockeep © 2019</p>
            </div>
        </footer>
    </div>
    <% include ./partials/script %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="js/NewsHeaher.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>
</body>

</html>