<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title><%=titulo%></title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom styles -->
    <style type="text/css">
        .signin-content {
            margin: 100px auto 20px;
        }
    </style>

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/extension.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="plugin//selectivizr/selectivizr-1.0.2/js/selectivizr.min.js"></script>
        <script src="plugin//pl-visualization/excanvas/js/excanvas.min.js"></script>
    <![endif]-->

    <script src="plugin/modernizr/modernizr-2.6.2/js/modernizr-2.6.2.js"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.html">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.html">
</head>

<body class="signin signin-horizontal" ng-app="startAPP" class="ng-cloak">
    <div class="page-container">
        <div id="header-container">
            <div id="header">
                <div class="navbar-inverse navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container"></div>
                    </div>
                </div>
                <!-- // navbar -->

                <div class="header-drawer" style="height: 3px"></div>
                <!-- // breadcrumbs -->
            </div>
            <!-- // drawer -->
        </div>
        <!-- // header-container -->

        <div id="main-container">
            <div id="main-content" class="main-content container">
                <div id="page-content" class="page-content signin-content">
                    <div class="row">
                        <div class="tab-content overflow form-dark">
                            <div class="tab-pane fade in active" id="login" >
                                <div class="span5">
                                    <h4 class="welcome"><small><i class="fontello-icon-user-4"></i>Sign in </small></h4>
                                    <% if (message.length > 0) { %>
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">×</button>
                                        <strong><%= message %> </strong>
                                    </div>
                                    <% } %>
                                    <form role="form" method="POST" action="/login">
                                        <fieldset>
                                            <div class="controls">
                                                <input class="span5" type="text" name="userCode" ng-model="form.loginID"
                                                    placeholder="your ID" />
                                            </div>

                                            <div class="controls controls-row">
                                                <input class="span3" type="password" name="password"
                                                    ng-model="form.password" placeholder="password" />
                                                <button type="submit" class="span2 btn btn-yellow btn-large">SIGN
                                                    IN</button>
                                            </div>

                                            <hr class="margin-xm">

                                            <label class="checkbox" for="remember">
                                                <input id="remember" class="checkbox" type="checkbox" />
                                                Remember me</label>

                                            <hr class="margin-mm ">

                                            <a href="#forgot" class="btn btn-boo" data-toggle="tab">Forgot Password?</a>
                                        </fieldset>
                                    </form>
                                    <!-- // form -->
                                </div>
                                <div class="span7">
                                    <h4 class="welcome"><small>Sistema Integral de Procesos </small></h4>
                                    <p>
                                        <h4>Bienvenidos</h4>

                                        Gracias por confiar en nosotros usted esta utilizando la <a target="_blank"
                                            href="http://lesscss.org/">version 1.1 </a>
                                    </p>

                                    <p>Para soporte técnico enviar un email soprte@sipit.com</p>

                                </div>
                            </div>
                            <!-- // Tab Login -->
                            <div class="tab-pane fade" id="forgot">
                                <div class="span5">
                                    <h4 class="welcome"><small><i class="fontello-icon-help-2"></i>Olvidaste tu
                                            contraseña?</small></h4>
                                    <form method="post" action="" name="forgot_password">

                                        <p class="note">Ingrese su dirección de correo electrónico, le enviaremos un
                                            código de correo electrónico para restablecer la contraseña.</p>
                                        <div class="controls">
                                            <input id="emailforgot" class="input-block-level" type="email"
                                                name="emailForgot" placeholder="your email" />
                                        </div>

                                        <hr class="margin-xm">

                                        <button type="submit" class="btn-block btn btn-yellow btn-large">Submit</button>

                                        <hr class="margin-mm">

                                        <p>Lo has recordado? <a href="#login" class="btn btn-boo"
                                                data-toggle="tab">Intenta iniciar sesión de nuevo.</a></p>
                                    </form>
                                    <!-- // form -->
                                </div>
                            </div>
                            <!-- // Tab Forgot -->
                            <div class="web-description span12">
                                <h5>Copyright &copy; 2018 soft2design.com</h5>
                                <p>
                                    All rights reserved.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- // page content -->
            </div>
            <!-- // main-content -->
        </div>
        <!-- // main-container  -->
    </div>
    <!-- // page-container -->

    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Libraries -->
    <script src="plugin/jquery/jquery-1.9.1/jquery.min.js"></script>
    <script src="plugin/jquery/jquery.migrate-1.1.1/jquery-migrate.min.js"></script>
    <script src="plugin/jquery/jquery.ui.combined-1.10.2/jquery-ui.min.js"></script>
    <script src="plugin/bootstrap/js/bootstrap.min.js"></script>
    <!-- System -->
    <script src="plugin/pl-system/jquery.nicescroll/js/jquery.nicescroll.min.js"></script>
    <script src="plugin/pl-system/jquery-cookie/js/jquery.cookie.js"></script>
    <script src="plugin/pl-system/jquery-mousewheel/js/jquery.mousewheel.js"></script>
    <script src="plugin/pl-system/xbreadcrumbs/js/xbreadcrumbs.js"></script>
    <!-- System info -->
    <script src="plugin/pl-system-info/bootstrapx-clickover/js/bootstrapx-clickover.js"></script>
    <script src="plugin/pl-system-info/gritter/js/jquery.gritter.min.js"></script>
    <script src="plugin/pl-system-info/jquery.notyfy/js/jquery.notyfy.js"></script>
    <script src="plugin/pl-system-info/qtip2/js/jquery.qtip.min.js"></script>
    <!-- Form -->
    <script src="plugin/pl-form/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="plugin/pl-form/select2/js/select2.js"></script>
    <script src="plugin/pl-form/uniform/js/jquery.uniform.min.js"></script>
    <!-- Editors -->
    <!-- Content -->
    <!-- Component -->
    <!-- File -->
    <!-- Gallery -->
    <!-- Tables -->
    <!-- Data Visualization -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <!-- Only example -->
    <script src="plugin/google-code-prettify/js/prettify.js"></script>
    <!-- Main js -->
    <script src="js/app/core.js"></script>
    <script src="js/app/demo-common.js"></script>
    <script src="controller/app/app.js"></script>
    <script src="controller/loginController.js"></script>

    <script>
        $(document).ready(function () {
            // uniform - checkbox, radio style
            $("input.checkbox, input.radio").uniform({
                radioClass: 'radios' // edited class - the original radio
            });
        });
    </script>
</body>

</html>