<!DOCTYPE html>
<html>

<% include ./partials/head %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

<body class="easy">
    <% include ./partials/header %>
    <!-- page-wrapper -->
    <!--Video Section-->
<section class="content-section video-section" style="display: block;">
        <div class="pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=fdJc1_IBKJA',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
              <h1>Full Width Video</h1>  
              <h3>Enjoy Adding Full Screen Videos to your Page Sections</h3>
             </div>
            </div>
          </div>
        </div>
      </section>
      <!--Video Section Ends Here-->
    <div class="hr-style"></div>
    <div class="container mt-4">
        <div class="mb-3" id="grand-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="newsticker-container">
                            <div id="newsticker-colour" class="slideup animated"></div>
                            <span class="newsticker-title delay-animated slidein text-center">
                                Somos Especialistas
                            </span>
                            <!-- <div class="newsticker">
                                <ul class="newsticker-list">
                                    <li class="newsticker-item"><a href="default.asp" data-lightbox="photos"
                                            target="_blank" style="color:white;"> linked news </a>

                                    </li>
                                    <li class="newsticker-item"> other news </li>
                                    <li class="newsticker-item">bla bla bla comes first</li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="box"><img src="img/img-2.png" alt="Desmond" style="height: 233px;">
                    <div class="box-heading smooth">
                        <h4 class="title">Desinfeccíon de Alto Nivel</h4>
                    </div>
                    <div class="boxContent">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/servicios" class="description">
                                    Para alcanzar los altos estándares
                                    de desinfección nuestro sistema <strong>Bio-Keep System</strong>,
                                    utiliza tecnología de ultima generacion como lo es nuestro
                                    micronebulilzador el cual utiliza una solución a base de peróxido de
                                    hidrógeno y sales de plata...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box"><img src="img/img-2.jpg" alt="Lee-Ann">
                    <div class="box-heading smooth">
                        <h4 class="title"><strong>Sanitización Inteligente</strong></h4>
                    </div>
                    <div class="boxContent">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/servicios" class="description">
                                    Nuestros Procesos de Alta
                                    Tecnología, nos permiten obtener
                                    resultados que CERTIFICAN la
                                    eficiencia y la reducción de
                                    microorganismo en todas las áreas

                                    y ambientes donde se utilice <strong>Bio-Keep System</strong>.
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box"><img src="img/img-3.jpg" alt="John-John">
                    <div class="box-heading smooth">
                        <h4 class="title">Gestor de Procesos</h4>
                    </div>
                    <div class="boxContent">
                        <a href="/servicios" class="description">La incorporación de las nuevas tecnologías de la
                            información ha permitido
                            dar una redefinición a los procesos alcanzando grados de eficacia y eficiencia
                            inimaginables. Utilizando BPM (Business Process Management)...
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hr-style mb-4"></div>
    <div class="container mb-5">


        <div class="big-title">
            <h3 class="big_title">Nuestros Socios Estratégicos</h3>
            <p class="title-para">Fortaleciendo nuestros servicios</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="news-slider11" class="owl-carousel">
                    <div class="post-slide11">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="post-img">
                                    <img src="img/logo-amilcare.gif" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-slide11">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="post-img">
                                    <img src="img/logo-medical.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-slide11">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="post-img">
                                    <img src="img/logo-platinum.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-slide11">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="post-img">
                                    <img src="img/logo-bio.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ./partials/footer %>
    <!--MODAL AREA-->
    <div id="modalOnLoad" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-content-fix">
                <section class="videobanne nohide">
                    <div class="containers">
                        <div class="overlay">
                            <div class="container-fluid p-0">

                                <!-- SLIDERS -->
                                <div id="Slider" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#Slider" data-slide-to="0" class="active"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <!-- <div class="carousel-header">
                                                    <span class="capitalizer-w ">Niños</span><br/>
                                                    <span class="capitalizer-w ">Saludables</span>
                                            </div> -->
                                            <img class="d-block h-505" alt="First slide [800x400]" src="img/layer.png"
                                                data-holder-rendered="true">
                                            <!-- <div class="carousel-caption d-none d-md-block">
                                                <span class="capTitle mb-5">Remarkably Crisp and Clear</span>
                                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                                <button class="btn px-4 py-1"> Learn more </button>
                                            </div> -->
                                        </div>

                                    </div>
                                </div>
                            </div> <!-- End CONTAINER-FLUID -->

                        </div>
                        <div class="overlay-movile">
                            <div id="Slider" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#Slider" data-slide-to="0" class="active"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <!-- <div class="carousel-header">
                                                        <span class="capitalizer-w ">Niños</span><br/>
                                                        <span class="capitalizer-w ">Saludables</span>
                                                </div> -->
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <img class="d-block w-100 h-505" alt="First slide [800x400]" src="img/layer.png"
                                            data-holder-rendered="true">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <% include ./partials/script %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="js/NewsHeaher.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="js/index-carrusel.js"></script>
    <script src="js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>
</body>

</html>