<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SIPKEEP</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark">
        <div class="container-fluid"><a
                class="navbar-brand text-monospace text-nowrap text-truncate text-break text-uppercase"
                href="#">KEEP</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav text-monospace">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><i
                                class="fab fa-phoenix-framework"></i>&nbsp;Inicio</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i
                                class="far fa-envelope"></i>&nbsp;Correo</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i
                                class="far fa-calendar-alt fa-x2"></i><span class="badge badge-danger"
                                style="position: relative;top: -12px;left: -9px;font-size: 10px;">2</span>Citas</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i
                                class="fas fa-chart-line"></i>&nbsp;Resultados</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><i
                                class="far fa-bell"></i></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">&nbsp;<i
                                class="far fa-user"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="btn-group btn-group-toggle mt-2" data-toggle="buttons"><label
                        class="btn btn-secondary active"><input type="radio" name="options" checked=""><i
                            class="fas fa-chalkboard"></i></label><label class="btn btn-secondary"><input type="radio"
                            name="options" checked=""><i class="fas fa-hand-holding-usd"></i></label></div>
                <button class="btn btn-info mt-2 ml-2" type="button" id="addBtn">Agregar Cita</button>
            </div>
        </div>
    </div>
    <div class="mt-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 brc">
                    <div class="bxF" >
                        <div class="eouTCY">
                            <div class="lofTbv">
                                <div>
                                    <div class="header-items">Prospectos</div>
                                </div>
                                <div class="eQbMmA">
                                    <span class="jgXGJq">
                                        <div class="hESWvQ">
                                            <span>$87,500</span><span class="jvjAIr"> 路 </span><span> 2
                                                prospectos</span></div>
                                    </span></div>
                            </div>
                        </div>
                    </div>
                    <div class="parentPanel">
                        <div class="panel-body  droppable" id="dropbox">

                        </div>
                    </div>
                </div>
                <div class="col-3 brc">
                    <div class="bxF">
                        <div class="eouTCY">
                            <div class="lofTbv">
                                <div>
                                    <div class="header-items">Contactos</div>
                                </div>
                                <div class="eQbMmA">
                                    <span class="jgXGJq">
                                        <div class="hESWvQ">
                                            <span>$87,500</span><span class="jvjAIr"> 路 </span><span> 2
                                                prospectos</span></div>
                                    </span></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary parentPanel">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body  droppable">

                        </div>
                    </div>
                </div>
                <div class="col-3 brc">
                    <div class="bxF ">
                        <div class="eouTCY ">
                            <div class="lofTbv" >
                                <div>
                                    <div class="header-items">Propuesta</div>
                                </div>
                                <div class="eQbMmA">
                                    <span class="jgXGJq">
                                        <div class="hESWvQ">
                                            <span>$87,500</span><span class="jvjAIr"> 路 </span><span> 2
                                                prospectos</span></div>
                                    </span></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary parentPanel">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body  droppable">

                        </div>
                    </div>
                </div>
                <div class="col-3 brc">
                    <div class="bxF">
                        <div class="eouTCY">
                            <div class="lofTbv">
                                <div>
                                    <div class="header-items">Cierre</div>
                                </div>
                                <div class="eQbMmA">
                                    <span class="jgXGJq">
                                        <div class="hESWvQ">
                                            <span>$87,500</span><span class="jvjAIr"> 路 </span><span> 2
                                                prospectos</span></div>
                                    </span></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary parentPanel">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body  droppable">

                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>