<!DOCTYPE html>
<html>
<% include ./partials/head %>

<body class="easy">
    <% include ./partials/header %>
    <!-- #CONTENIDO START-->
    <div class="tab_container">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1">
            <i class="fas fa-burn"></i>
            <span>Desinfección de Alto Nivel</span>
        </label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2">
            <i class="fas fa-diagnoses"></i>
            <span>Sanitizacíon Especializada</span>
        </label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3">
            <i class="fa fa-bar-chart-o"></i>
            <span>Gestíon de Procesos Complementaria</span>
        </label>

        <section id="content1" class="tab-content">
            <h3 class="h3-movile">Desinfección de Alto Nivel</h3>
            <p><strong>¿Crees que estás protegido?</strong> Piense de nuevo ... Muchas industrias confían en el método
                tradicional desinfección. Si bien no se debe desalentar la desinfección tradicional, los estudios
                demuestran repetidamente que a pesar de todo nuestro arduo trabajo,
                el método tradicional de desinfección no es muy efectivo para protegernos de la
                contaminación nociva y las enfermedades infecciosas.
                <br /> En <strong class="prockeep">prockeep</strong> siempre buscamos la excelencia, es por esto que
                nuestro servicio de
                <strong><i>Desinfección de Alto Nivel</i></strong> se basa en la tecnología
                a base Peróxido de hidrógeno vía área

                <h5 class="compuesto">Desinfección de Peróxido de Hidrógeno y Sales de Plata</h5>
                <p>El peróxido hidrogeno es un antiséptico general, Su mecanismo de acción se debe a
                    sus efectos oxidantes, produce radicales libres de hidroxilo (OH) que atacan una
                    amplia variedad de compuestos orgánicos, entre ellos lípidos y proteínas que
                    componen las membranas celulares de los microorganismos.
                    <p>
                        La enzima catalasa presente en los tejidos degrada rápidamente el peróxido de hidrógeno,
                        produciendo
                        oxígeno, que dificulta la germinación de bacterias anaerobias.
                        Nuestro proceso de desinfección con micro partículas de peróxido de hidrogeno
                        aplicado a superficies y ambientes con <strong>Bio-Keep System</strong> después de la limpieza
                        rutinaria, reduce el número de pacientes contaminados con las bacterias más
                        comunes que presentan resistencia a los tratamientos con antibióticos. Esta práctica
                        mejora el control de infecciones en zonas criticas, un importante factor de
                        mortalidad, morbilidad y gasto sanitario.
                    </p>
                    <div class="img-fluid da-img">
                        <img src="./img/desinfeccion.jpg" alt="" class=" caption img-responsive img-circle da-s55" >
                    </div>
                    Nuestro proceso de desinfección de alto nivel es capaz de destruir todos los
                    microorganismos de cualquier forma de organización (bacterias, micobacterias,
                    esporas, hongos, virus y biofilms). Alcanzando la reducción de 4-5 log. es decir, 10.000
                    / 100.000 veces menos cantidad de gérmenes.
                    <strong>Bio-Keep System</strong> a desarrollado protocolos especiales a través de los cuales
                    permiten
                    llegar a una alta reducción microbiana igual al nivel de la esterilización logrando una
                    reducción de muerte de <strong>6 log (99.9999%)</strong> de organismos infecciosos, incluidos
                    C.diff,
                    MRSA, Norovirus y otros patógenos dañinos.
                </p>
            </p>
        </section>

        <section id="content2" class="tab-content">
            <h3 class="h3-movile">Sanitizacíon Especializada</h3>
            <p>La Sanitización son proceso que se realizan manualmente, es por esto que en <strong
                    class="prockeep">prockeep</strong>,
                hemos optado por utilizar la tecnología para obtener resultados mas eficientes, en la reducción de
                microorganismos tales como bacterias, esporas, virus y hongos
            </p>
            <h5>Sanitización Inteligente</h5>
            <p>Nuestra Sanitización Inteligente consiste en la remoción de material orgánico e
                inorgánico, manchas y detritus visibles. Estos Procedimiento son sumamente
                importante ya que la suciedad inactiva protege a los virus y microorganismos de ser
                eliminados con los productos tradicionales, con un método estandarizado y utilizando
                tecnología de ultima generación <strong class="prockeep">prockeep</strong> determina mediante prueba de
                hisopos,
                tanto la carga inicial de materia orgánica como la carga inicial de bacteria, hongos y
                virus, este paso es fundamental para conocer el producto a utilizar así como su
                cantidad a fin de garantizar alta eficiencia en los resultados de nuestro método.<br />
                <span class="mt-3">Nuestro proceso de <strong>Sanitización Inteligente </strong> consta de los pasos
                    siguientes:</span>
                <ul>
                    <li class="start-li">
                        <span class="title">Prueba Inicial</span>
                        <p class="list">System Plus ATP (Carga inicial de Materia Organica)</p>
                        <p class="list">System Plus Microbacteriana (Carga inicial de bacterias,hongos y virus)</p>
                        <div class="img-fluid st-img"><img src="./img/sonitizacion.png" alt=""
                                class=" caption img-responsive img-circle"></div>

                    </li>
                    <li>
                        <span class="title">Sanitización</span>
                        <p class="list">
                            <span>Ejecucion de Modelo de sanitizacíon segun prueba inicial</span>
                            <p class="list">Productos a utilizar segun modelo</p>
                            <ul>
                                <li class="sub-list">Peróxido de hidrógeno vía aérea</li>
                                <li class="sub-list">Desinfectante de Pulverización Directa</li>
                                <li class="sub-list">Desinfectante a Base de Cloruro</li>
                            </ul>
                        </p>
                    </li>
                    <li class="mb-3">
                        <span class="title">Prueba Final</span>
                        <p class="list">System Plus ATP (Carga final de Materia Organica)</p>
                        <p class="list">System Plus Microbacteriana (Carga final de bacterias,hongos y virus)</p>
                    </li>
                    <li>
                        <span class="title">Sistema de Monitoreo y Vigilancia</span>
                        <p class="list">A través de nuestro Sistema <strong>C-Keep</strong> hacemos el análisis de datos
                            de las
                            cargas bacteriológicas del las superficies y las áreas intervenida</p>
                        <p class="list">Recomendaciones según datos arrojados en el Monitoreo y Vigilancia.</p>
                    </li>
                </ul>
            </p>

        </section>

        <section id="content3" class="tab-content">
            <h3 class="h3-movile">Gestíon de Procesos Complementaria</h3>
            <p>Procesos Complementarios son aquellos que no pertenecen a su actividad de negocio, es por esto que
                <strong class="prockeep">prockeep</strong> es tu mejor alíado.
                Dejanos ayudarte gestionando todos aquellos procesos que no forman parte del giro principal de su
                negocio.<br />
                <h5>¿En qué consiste la gestión de procesos?</h5>
                <p>La gestión por procesos, también conocida como BPM (Business Process Management), surgió en el mundo
                    empresarial comercial y se ha aplicado a muchos campos;
                    entre ellos, el sector salud. <i>"cuando se trata de una organización, los procesos estratégicos y
                        los de apoyo están relacionados con las propias unidades orgánicas y,
                        con menos frecuencia, con proveedores ajenos. Sin embargo, los procesos operativos se vinculan
                        con determinadas unidades orgánicas y siempre con el cliente"</i>. <br />
                    <br />
                    La finalidad de la gestíon de proceso es conseguir unos resultados que coincidan con los objetivos
                    previstos.

                    Esto implica que el proceso debe poder ser:
                    <ul class="gs-list">
                        <li class="list"> Definible, debe tener un flujo (una secuencia de actividades)</li>
                        <li class="list">Métodos para realizar dichas actividades (protocolos, procedimientos)</li>
                        <li class="list">Plan de inspección y control de calidad</li>
                        <li class="list">Metas a conseguir</li>
                        <li class="list">Debe poder ser reproducible</li>
                        <li class="list">Debe ser predecible en cuanto a resultados finales</li>
                    </ul>
                    <div class="img-fluid gs-img"><img src="./img/gestion.png" alt=""
                            class=" caption img-responsive img-circle"></div>
                </p>
            </p>

        </section>

    </div>
    <!-- #CONTENIDO END-->
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Hospitalario</a></li>
                            <li><a href="#">Hogar</a></li>
                            <li><a href="#">Clínica<br></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Nostros</h3>
                        <ul>
                            <li><a href="#">Compañia</a></li>
                            <li><a href="#">Equipo</a></li>
                            <li><a href="#">Protocolos</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text"><img src="img/ProkeepLogo.png" width="150">
                        <p>Empresa especializada en la desinfección de superficies , con sistemas innovadores de alta
                            efectividada<br></p>
                    </div>
                </div>
                <p class="copyright">prockeep © 2019</p>
            </div>
        </footer>
    </div>
    <% include ./partials/script %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="js/NewsHeaher.js"></script>
    <script src="js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>
</body>

</html>