<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>prockeep</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="css/-product-features.css">
    <link rel="stylesheet" href="css/Bold-BS4-Cards-with-Hover-Effect-74.css">
    <link rel="stylesheet" href="css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="css/NewsHeaher.css">
    <link rel="stylesheet" href="css/Nice-breadcrumb.css">
    <link rel="stylesheet" href="css/Social-Icons.css">
    <link rel="stylesheet" href="css/styles-web.css">
    <link rel="stylesheet" href="css/Swiper-Slider-Card-For-Blog-Or-Product-1.css">
</head>

<body class="easy">
    <div class="social-icons mx-liner"><a href="#">
            <a href="#">
                <i id="social-tw" class="fab fa-twitter"></i>
            </a>
            <a href="#">
                <i id="social-fb" class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
                <i id="social-ig" class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i id="social-yb" class="fab fa-youtube"></i>
            </a>
        
    </div>
    <header class="text-white site-preheader">
            <nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid"><a class="navbar-brand" href="#"
                        style="width: 280px;float: left;margin-top: -19px;"><img class="img-fluid img-movile"
                            src="img/ProkeepLogo.png" width="500"></a><button data-toggle="collapse"
                        class="navbar-toggler button-movile" data-target="#navcol-1"
                        style="background: rgba(255,255,255,0);"><span class="sr-only">Toggle navigation</span><span
                            class="navbar-toggler-icon"><i class="fas fa-th-list"></i></span></button>
                    <div class="collapse navbar-collapse text-white" id="navcol-1">
                        <ul class="breadcrumb">
                            <li class="home not"><a href="/"><i class="fas fa-home"></i><span>Home</span></a></li>
                            <li class="not"><a href="/about">Nosotros</a></li>
                            <li class="not"><a href="#">Tecnología</a></li>
                            <li class="not active"><a href="/servicios">Servicio</a></li>
                        </ul>
                        <ul class="nav navbar-nav text-white ml-auto">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link text-white btn btn-sm" href="/contact"
                                    style="border-radius: 24px;background: #0b79b2;/*margin-top: -16px;*/">Solicitar
                                    Cita</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    <!-- #CONTENIDO START-->
    <div class="tab_container">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1">
            <i class="fas fa-burn"></i>
            <span>Desinfección de Alto Nivel</span>
        </label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2">
            <i class="fas fa-diagnoses"></i>
            <span>Sanitizacíon Especializada</span>
        </label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3">
            <i class="fa fa-bar-chart-o"></i>
            <span>Gestíon de Procesos Complementaria</span>
        </label>

        <section id="content1" class="tab-content">
            <h3 class="h3-movile">Desinfección de Alto Nivel</h3>
            <p><strong>¿Crees que estás protegido?</strong> Piense de nuevo ... Muchas industrias confían en el método
                tradicional desinfección. Si bien no se debe desalentar la desinfección tradicional, los estudios
                demuestran repetidamente que a pesar de todo nuestro arduo trabajo,
                el método tradicional de desinfección no es muy efectivo para protegernos de la
                contaminación nociva y las enfermedades infecciosas.
                <br /> En <strong>prockeep</strong> siempre buscamos la excelencia, es por esto que nuestro servicio de
                <i>Desinfección de Alto Nivel</i> se basa en la tecnología
                a base Peróxido de hidrógeno vía área

                <h5 class="compuesto">Desinfección de Peróxido de Hidrógeno y Sales de Plata</h5>
                <p>El peróxido de hidrógeno es un antiséptico general, Su mecanismo de acción se debe a sus efectos
                    oxidantes. produce OH y radicales libres que atacan una amplia variedad de compuestos orgánicos,
                    entre ellos lípidos y proteínas que componen las membranas
                    celulares de los microorganismos. La enzima catalasa presente en los tejidos degrada rápidamente el
                    peróxido de hidrógeno, produciendo oxígeno, que dificulta la germinación de esporas anaerobias.
                    <p>Un tratamiento con vapor de peróxido de hidrogeno aplicado a superficies y habitaciones, después
                        de la limpieza rutinaria, reduciría hasta un 64% el número de pacientes contaminados con las
                        bacterias más comunes que presentan
                        resistencia a los tratamientos con antibióticos. Esta práctica mejoraria el control de
                        infecciones hospitalarias, un importante factor de mortalidad, morbilidad y gasto sanitario.</p>
                </p>
            </p>
        </section>

        <section id="content2" class="tab-content">
            <h3 class="h3-movile">Sanitizacíon Especializada</h3>
            <p>La Sanitización son proceso que se realizan manualmente, es por esto que en <strong>prockeep</strong>,
                hemos optado por utilizar la tecnología para obtener resultados mas eficientes, en la reducción de
                microorganismos tales como bacterias, esporas, virus y hongos
            </p>
            <h5>Sanitización Inteligente</h5>
            <p>Si no se implementan los procedimientos adecuados, la contaminación puede invadir incluso restaurantes,
                hospitales y plantas procesadoras de alimentos de buena reputación. Desafortunadamente, las bacterias
                microscópicas son casi imposibles de detectar es por ello
                que realizamos pruebas de isótopos de bacterias de última generación (System Sure Plus) antes de iniciar
                cualquier proceso de sanitizacíon esto nos garantiza que modelo debemos seguir para obtener los mejores
                resultados.<br />
                Nuestro proceso de Sanitizacion consta de tres pasos.
                <ul>
                    <li class="start-li">
                        <span class="title">Prueba Inicial</span>
                        <p class="list">System Sure Plus ATP (Carga inicial de Materia Organica)</p>
                        <p class="list">System Sure Plus Microbacteriana (Carga inicial de bacterias,hongos y virus)</p>
                        <div class="img-fluid st-img"><img src="./img/sonitizacion.png" alt=""
                                class=" caption img-responsive img-circle"></div>

                    </li>
                    <li>
                        <span class="title">Sanitización</span>
                        <p class="list">
                            <span>Ejecucion de Modelo de sanitizacíon segun prueba inicial</span>
                            <p class="list">Productos a utilizar segun modelo</p>
                            <ul>
                                <li class="sub-list">Peróxido de hidrógeno vía aérea</li>
                                <li class="sub-list">Desinfectante de Pulverización Directa(Peróxido de hidrógeno 8 %,
                                    Alcohol isopropílico 9,9 %, Excipientes c.s.p. 100%. )</li>
                                <li class="sub-list">Desinfectante a Base de Cloruro</li>
                            </ul>
                        </p>
                    </li>
                    <li>
                        <span class="title">Prueba Final</span>
                        <p class="list">System Sure Plus ATP (Carga final de Materia Organica)</p>
                        <p class="list">System Sure Plus Microbacteriana (Carga final de bacterias,hongos y virus)</p>
                    </li>
                </ul>
            </p>

        </section>

        <section id="content3" class="tab-content">
            <h3 class="h3-movile">Gestíon de Procesos Complementaria</h3>
            <p>Procesos Complementarios son aquellos que no pertenecen a su actividad de negocio, es por esto que
                <strong>prockeep</strong> es tu mejor alíado.
                Dejanos ayudarte gestionando todos aquellos procesos que no forman parte del giro principal de su
                negocio.<br />
                <h5>¿En qué consiste la gestión de procesos?</h5>
                <p>La gestión por procesos, también conocida como BPM (Business Process Management), surgió en el mundo
                    empresarial comercial y se ha aplicado a muchos campos;
                    entre ellos, el sector salud. <i>"cuando se trata de una organización, los procesos estratégicos y
                        los de apoyo están relacionados con las propias unidades orgánicas y,
                        con menos frecuencia, con proveedores ajenos. Sin embargo, los procesos operativos se vinculan
                        con determinadas unidades orgánicas y siempre con el cliente"</i>. <br />
                    <br />
                    La finalidad de la gestíon de proceso es conseguir unos resultados que coincidan con los objetivos
                    previstos.

                    Esto implica que el proceso debe poder ser:
                    <ul class="gs-list">
                        <li class="list"> Definible, debe tener un flujo (una secuencia de actividades)</li>
                        <li class="list">Métodos para realizar dichas actividades (protocolos, procedimientos)</li>
                        <li class="list">Plan de inspección y control de calidad</li>
                        <li class="list">Metas a conseguir</li>
                        <li class="list">Debe poder ser reproducible</li>
                        <li class="list">Debe ser predecible en cuanto a resultados finales</li>
                    </ul>
                    <div class="img-fluid gs-img"><img src="./img/gestion.png" alt=""
                            class=" caption img-responsive img-circle"></div>
                </p>
            </p>

        </section>

    </div>
    <!-- #CONTENIDO END-->
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Hospitalario</a></li>
                            <li><a href="#">Hogar</a></li>
                            <li><a href="#">Clínica<br></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Nostros</h3>
                        <ul>
                            <li><a href="#">Compañia</a></li>
                            <li><a href="#">Equipo</a></li>
                            <li><a href="#">Protocolos</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text"><img src="img/ProkeepLogo.png" width="150">
                        <p>Empresa especializada en la desinfección de superficies , con sistemas innovadores de alta
                            efectividada<br></p>
                    </div>
                </div>
                <p class="copyright">prockeep © 2019</p>
            </div>
        </footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="js/NewsHeaher.js"></script>
    <script src="js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>
</body>

</html>