<!DOCTYPE html>
<html>
<% include ./partials/head %>
<link rel="stylesheet" href="css/style-service.css">

<body class="easy">
    <div class="wrapper">
        <% include ./partials/header %>
        <div class="content mt-5">
            <!-- #CONTENIDO START-->
            <section class="slide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <h1><strong class="purple">Sanitización Inteligente</strong></h1>

                        </div>
                        <div class="col-md-4 flright" style="margin-top: 1px;">
                            <p>
                                Más que un limpieza estándar, nuestro servicio es detallado y especializados con nuestro
                                sistema basado en tecnología de ultima generación conseguimos de forma eficaz eliminar
                                los contaminantes adheridos a las superficies..

                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Card #1, Starter -->
                        <div class="col-md-4" style="margin-top: -54px;">
                            <div class="blog-card blog-card-blog blog-card-hospital">
                                <div class="blog-table">
                                    <p class="blog-card-description">Comúnmente, la sanitización se conoce como un
                                        proceso de limpieza que se realiza
                                        manualmente aplicando limpiadores y desinfectantes convencionales en el mercado

                                        Nuestra Sanitización Inteligente consiste en la remoción de material orgánico e
                                        inorgánico, manchas y detritus visibles, con un método novedoso utilizando
                                        tecnología y equipos de última generación. <strong>Prockeep</strong>, aplicando
                                        un novedoso
                                        proceso, determina mediante pruebas microbiológicas tanto la carga inicial de
                                        materia orgánica como la presencia de microorganismos en los espacios y
                                        superficies
                                        donde se requiera.</p>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div class="col-md-8">
                                <div class="blog-card blog-card-blog blog-fix-card d9">
                                    <div class="blog-card-image blog-fix-img-card zoom1">
                                        <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                        </a>
                                        <div class="ripple-cont"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog-card blog-card-blog blog-fix-card d3">
                                    <div class="blog-card-image blog-fix-img-card">
                                        <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                        </a>
                                        <div class="ripple-cont"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="blog-card blog-card-blog blog-fix-card d2">
                                    <div class="blog-card-image blog-fix-img-card">
                                        <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                        </a>
                                        <div class="ripple-cont"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="purple just"><strong>Proceso de Sanitización Inteligente</strong></h2>
                    <div class="row ">
                        <div class="col-md-4">
                            <div class="blog-card blog-card-blog">
                                <div class="blog-table">
                                    <p class="blog-card-description">
                                        <ul>Prueba Inicial
                                            <li>
                                                System Plus ATP (Carga inicial de materia orgánica).
                                            </li>
                                            <li>
                                                System Plus Micro bacteriana (Carga inicial de bacterias, hongos y
                                                virus).
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="blog-card blog-card-blog">
                                <div class="blog-table">
                                    <p class="blog-card-description">
                                        <ul>Sanitización Inteligente
                                            <li>Ejecución del modelo de sanitización según prueba inicial.</li>
                                            <li>Técnica, productos y concentración a utilizar según modelo.</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="blog-card blog-card-blog">
                                <div class="blog-table">
                                    <p class="blog-card-description">

                                        <ul> Prueba Final y Sistema de Monitoreo Vigilancia
                                            <li>System Plus ATP (Carga final de materia orgánica).</li>
                                            <li>System Plus Micro bacteriana (Carga final de bacterias hongos y virus).
                                            </li>
                                            <li>A través de nuestro Sistema C-Keep hacemos el análisis de datos de la
                                                carga
                                                bacteriológica encontrada en las superficies y áreas</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="divider">
                <span></span>
                <span>🦠</span>
                <span></span>
            </div>
            <section class="slide mb-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <h1><strong class="purple">Desinfección de Alto Nivel</strong></h1>
                        </div>
                        <div class="col-md-8 flright">
                            <p>


                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mt-5 mb-5">
                            <div class="col-md-8">
                                <div class="blog-card blog-card-blog blog-fix-card d10">
                                    <div class="blog-card-image blog-fix-img-card zoom1">
                                        <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                        </a>
                                        <div class="ripple-cont"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog-card blog-card-blog  d3r">
                                    <div class="blog-card-image blog-fix-img-card">
                                        <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                        </a>
                                        <div class="ripple-cont"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog-card blog-card-blog  d2r">
                                    <div class="blog-card-image blog-fix-img-card">
                                        <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                        </a>
                                        <div class="ripple-cont"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Card #1, Starter -->
                        <div class="col-md-4">
                            <div class="blog-card blog-card-blog">
                                <div class="blog-table">

                                    <p class="blog-card-description">Los métodos tradicionales de desinfección no son
                                        efectivos para protegernos de la contaminación
                                        nociva y las enfermedades infecciosas.

                                        Nuestra empresa <strong>Prockeep</strong> ha desarrollado
                                        protocolos especiales que utilizan tecnología y
                                        productos de vanguardia que permiten destruir
                                        todos los microorganismos
                                        patógenos responsables principalmente de
                                        provocar enfermedades en seres vivos, en
                                        cualquier forma de organización (bacterias,
                                        micobacterias, esporas, hongos, virus y biofilms).
                                        Con la aplicación de un protocolo especial nuestra
                                        empresa alcanza una elevada reducción microbiana
                                        del nivel de esterilización requerido en áreas tales
                                        como: hospitales, escuelas, industrias de
                                        alimentos, hogares, entre otros.</p>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <div class="divider">
                <span></span>
                <span>🦠</span>
                <span></span>
            </div>
            <section class="slide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <h1><strong class="purple">Gestión de Procesos y Tecnificación Tecnológica</strong></h1>
                        </div>
                        <div class="col-md-4 flright">
                            <p>
                                Déjanos ayudarte moderando y optimizando todos aquellas etapas
                                medulares de tu actividad comercial, empresarial o de servicio.

                                Y recuerda… prockeep es tu mejor aliado…
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Card #1, Starter -->
                        <div class="col-md-4">
                            <div class="blog-card blog-card-blog ">
                                <div class="blog-table">
                                    <p class="blog-card-description">
                                        <strong>Prockeep</strong>, además de su actividad medular, está en capacidad de
                                        ofrecer a
                                        sus clientes asesoría en la modernización de sus actividades gerenciales y
                                        administrativos basándose en unidades de gestión de procesos conocidas en
                                        el mundo de administración empresarial y de negocios como BPM (Business
                                        Process Management). <br>
                                        Utilizando la ultima tecnología en desarrollo y arquitectura
                                        de software estamos en la capacidad de Tecnificar y Transformar su empresa para
                                        la nueva era tecnológica .</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-8">
                                <div class="blog-card blog-card-blog blog-fix-card d9">
                                    <div class="blog-card-image blog-fix-img-card zoom1">
                                        <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                        </a>
                                        <div class="ripple-cont"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog-card blog-card-blog blog-fix-card d3">
                                    <div class="blog-card-image blog-fix-img-card">
                                        <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                        </a>
                                        <div class="ripple-cont"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog-card blog-card-blog blog-fix-card d2">
                                    <div class="blog-card-image blog-fix-img-card">
                                        <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                        </a>
                                        <div class="ripple-cont"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="purple just"><strong>Finalidad de la gestión de procesos.</strong></h2>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="blog-card blog-card-blog">
                                <div class="blog-table">
                                    <p class="blog-card-description">La finalidad de la gestión de proceso es conseguir
                                        resultados alineados con
                                        los objetivos previstos. Esto implica que el proceso al cual se aplica, debe:

                                        <ul class="ul-style">
                                            <li>Ser definible, en la organización y secuencia de sus actividades.</li>
                                            <li>Tener métodos para realizar dichas actividades (protocolos,
                                                procedimientos).</li>
                                            <li>Poseer planes de monitoreo, inspección y control de calidad.</li>
                                            <li>Definir bien las metas que se persiguen.</li>
                                            <li>Ser reproducible.</li>
                                            <li>Ser predecible en cuanto a resultados finales</li>
                                        </ul>

                                    </p>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- #CONTENIDO END-->
        </div>
        <% include ./partials/footer %>
    </div>
    <% include ./partials/script %>

</body>

</html>