<!DOCTYPE html>
<html>
<% include ./partials/head %>
<link rel="stylesheet" href="css/style-service.css">

<body class="easy">
    <div class="wrapper">
        <% include ./partials/header %>
        <div class="content mt-5">
            <!-- #CONTENIDO START-->
            <section class="slide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <h1><strong class="purple">Desinfección de Alto Nivel</strong></h1>
                        </div>
                        <div class="col-md-8 flright">
                            <p>
                                    ¿Crees que estás protegido?</strong> Piense de nuevo.

                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Card #1, Starter -->
                        <div class="col-md-4">
                            <div class="blog-card blog-card-blog">
                                <div class="blog-table">
                                    <h4 class="blog-card-caption">
                                        <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                class="avatar img-raised">
                                        </a>
                                        <a href="#">Hospitales</a>
                                    </h4>
                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry.</p>

                                </div>
                            </div>
                            <div class="blog-card blog-card-blog">
                                <div class="blog-table">
                                    <h4 class="blog-card-caption">
                                        <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                class="avatar img-raised">
                                        </a>
                                        <a href="#">Clinicas</a>
                                    </h4>
                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-8">
                                <div class="blog-card blog-card-blog blog-fix-card">
                                    <div class="blog-card-image blog-fix-img-card zoom1">
                                        <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                        </a>
                                        <div class="ripple-cont"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="blog-card blog-card-blog blog-fix-card d2">
                                    <div class="blog-card-image blog-fix-img-card">
                                        <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                        </a>
                                        <div class="ripple-cont"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="blog-card blog-card-blog">
                                <div class="blog-table">
                                    <h4 class="blog-card-caption">
                                        <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                class="avatar img-raised">
                                        </a>
                                        <a href="#">Industrias Alimenticias</a>
                                    </h4>
                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="blog-card blog-card-blog">
                                <div class="blog-table">
                                    <h4 class="blog-card-caption">
                                        <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                class="avatar img-raised">
                                        </a>
                                        <a href="#">Escuelas</a>
                                    </h4>
                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="blog-card blog-card-blog">
                                <div class="blog-table">
                                    <h4 class="blog-card-caption">
                                        <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                class="avatar img-raised">
                                        </a>
                                        <a href="#">Hogar y Oficinas</a>
                                    </h4>
                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="slide">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <h1><strong class="purple">Sanitización Inteligente</strong></h1>
                            </div>
                            <div class="col-md-8 flright">
                                <p>
                                        ¿Crees que estás protegido?</strong> Piense de nuevo.
    
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="col-md-8">
                                    <div class="blog-card blog-card-blog blog-fix-card">
                                        <div class="blog-card-image blog-fix-img-card zoom1">
                                            <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                            </a>
                                            <div class="ripple-cont"></div>
                                        </div>
    
                                    </div>
                                </div>
    
                                <div class="col-md-4">
                                    <div class="blog-card blog-card-blog blog-fix-card d2">
                                        <div class="blog-card-image blog-fix-img-card">
                                            <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                            </a>
                                            <div class="ripple-cont"></div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                            <!-- Card #1, Starter -->
                            <div class="col-md-4">
                                <div class="blog-card blog-card-blog">
                                    <div class="blog-table">
                                        <h4 class="blog-card-caption">
                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                    class="avatar img-raised">
                                            </a>
                                            <a href="#">Hospitales</a>
                                        </h4>
                                        <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry.</p>
    
                                    </div>
                                </div>
                                <div class="blog-card blog-card-blog">
                                    <div class="blog-table">
                                        <h4 class="blog-card-caption">
                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                    class="avatar img-raised">
                                            </a>
                                            <a href="#">Clinicas</a>
                                        </h4>
                                        <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry.</p>
    
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="blog-card blog-card-blog">
                                    <div class="blog-table">
                                        <h4 class="blog-card-caption">
                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                    class="avatar img-raised">
                                            </a>
                                            <a href="#">Industrias Alimenticias</a>
                                        </h4>
                                        <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry.</p>
    
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog-card blog-card-blog">
                                    <div class="blog-table">
                                        <h4 class="blog-card-caption">
                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                    class="avatar img-raised">
                                            </a>
                                            <a href="#">Escuelas</a>
                                        </h4>
                                        <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry.</p>
    
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog-card blog-card-blog">
                                    <div class="blog-table">
                                        <h4 class="blog-card-caption">
                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                    class="avatar img-raised">
                                            </a>
                                            <a href="#">Hogar y Oficinas</a>
                                        </h4>
                                        <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry.</p>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="slide">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <h1><strong class="purple">Gestión de Procesos y Tecnificación Tecnológica</strong></h1>
                                </div>
                                <div class="col-md-8 flright">
                                    <p>
                                            ¿Crees que estás protegido?</strong> Piense de nuevo.
        
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Card #1, Starter -->
                                <div class="col-md-4">
                                    <div class="blog-card blog-card-blog">
                                        <div class="blog-table">
                                            <h4 class="blog-card-caption">
                                                <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                        class="avatar img-raised">
                                                </a>
                                                <a href="#">Hospitales</a>
                                            </h4>
                                            <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                                and typesetting industry.</p>
        
                                        </div>
                                    </div>
                                    <div class="blog-card blog-card-blog">
                                        <div class="blog-table">
                                            <h4 class="blog-card-caption">
                                                <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                        class="avatar img-raised">
                                                </a>
                                                <a href="#">Clinicas</a>
                                            </h4>
                                            <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                                and typesetting industry.</p>
        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="col-md-8">
                                        <div class="blog-card blog-card-blog blog-fix-card">
                                            <div class="blog-card-image blog-fix-img-card zoom1">
                                                <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                                </a>
                                                <div class="ripple-cont"></div>
                                            </div>
        
                                        </div>
                                    </div>
        
                                    <div class="col-md-4">
                                        <div class="blog-card blog-card-blog blog-fix-card d2">
                                            <div class="blog-card-image blog-fix-img-card">
                                                <a href="#"> <img class="img" src="./img/desinfeccion.jpg">
                                                </a>
                                                <div class="ripple-cont"></div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="blog-card blog-card-blog">
                                        <div class="blog-table">
                                            <h4 class="blog-card-caption">
                                                <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                        class="avatar img-raised">
                                                </a>
                                                <a href="#">Industrias Alimenticias</a>
                                            </h4>
                                            <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                                and typesetting industry.</p>
        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="blog-card blog-card-blog">
                                        <div class="blog-table">
                                            <h4 class="blog-card-caption">
                                                <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                        class="avatar img-raised">
                                                </a>
                                                <a href="#">Escuelas</a>
                                            </h4>
                                            <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                                and typesetting industry.</p>
        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="blog-card blog-card-blog">
                                        <div class="blog-table">
                                            <h4 class="blog-card-caption">
                                                <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..."
                                                        class="avatar img-raised">
                                                </a>
                                                <a href="#">Hogar y Oficinas</a>
                                            </h4>
                                            <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing
                                                and typesetting industry.</p>
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
            <!-- #CONTENIDO END-->
        </div>
        <% include ./partials/footer %>
    </div>
    <% include ./partials/script %>

</body>

</html>