<!DOCTYPE html>
<html>

<% include ./partials/head %>
<link rel="stylesheet" href="css/styles-keep.css">


<body class="easy">
    <div class="wrapper">
        <% include ./partials/header %>
        <div class="content">
            <div class="fullwidth">
                <div class="gallery">
                    <figure class="item">
                        <div class="img-wrap"><img src="img/logo_certificado.png"
                                alt="" />
                            </div>
                            <figcaption class="caption">
                                    <h1 class="text-shadow1">BIO KEEP SYSTEM</h1>
                                    <span class="galeryItms">Certificado de Ambiente Seguro</span>
                                </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <% include ./partials/footer %>
    </div>

    <% include ./partials/script %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="js/NewsHeaher.js"></script>
    <script src="js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>

</body>

</html>