<!DOCTYPE html>
<html>

<% include ./partials/head %>

<link rel="stylesheet" href="css/styles-keep.css">


<body class="easy">
    <div class="wrapper">
        <% include ./partials/header %>
        <div class="content">
            <div class="fullwidth">
                <div class="gallery">
                    <figure class="item">
                        <div class="col-md-6 img-wrap wow bounceInRight" data-wow-duration="4s">
                            <img src="img/logo_certificado.png" alt="" />

                        </div>

                        <figcaption class="caption">
                            <h1 class="text-shadow1">BIO KEEP SYSTEM</h1>
                            <span class="galeryItms">Certificado de Ambiente Seguro</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row dark" id="sec01">
                    <div class='col-md-8'>
                        <div class="content">

                            <p class="fz-16"> <strong>Bio-Keep System</strong> es el sistema en el que Integramos una
                                serie de métodos y
                                herramientas de alta tecnología, a través de la cual logramos la reducción y
                                erradicación certificada de microorganismos, hongos y esporas en los ambientes.
                            </p>
                            <p class="fz-16">Nuestro procedimiento de desinfección de alto nivel por vía aérea, (micro
                                nebulizador de última generación) en conjunto a nuestro potente desinfectante a
                                base Peróxido De Hidrógeno Y Sales De Plata; permiten que las partículas sean
                                aerotransportadas y lleguen a todos los espacios y superficies libres, permaneciendo
                                en suspensión hasta su natural descomposición, logrando así obtener una gran
                                actividad biocida y amplio espectro de acción, garantizando un proceso rápido de
                                desinfección.
                            </p>
                            <p class="fz-16">Verificamos la efectividad de nuestro proceso de desinfección, aplicando
                                pruebas
                                de carga bacteriológica con el mas alto estándar de seguridad, que nos suministran
                                validación rápida y precisa, en tiempo real, lo cual permite a Bio-Keep System emitir
                                su certificado con sello de Ambiente Seguro, brindando un respaldo total a los
                                clientes ya que nuestro sistema es totalmente auditable y permite verificar los
                                resultados en nuestra base de Datos C-Keep..
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul id="categories" class="clr">
                            <li class="pusher"></li>
                            <li>
                                <div>
                                    <img src="img/medibios.png" alt="" />
                                    <h1>
                                        <span class="spans">MICRONEBULIZADOR</span>
                                        
                                    </h1>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="img/victori.png" alt="" />
                                    <h1>
                                            <span class="spans">PULVERIZADORES ELECTROSTÁTICOS</span>
                                    </h1>
                                </div>
                            </li>
                            <li class="pusher"></li>
                            <li>
                                <div>
                                    <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="" />
                                    <h1>
                                            <span class="spans">FAST TEST</span>
                                    </h1>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <% include ./partials/footer %>
    </div>

    <% include ./partials/script %>
    <script src="./js/tecno.js"></script>
</body>

</html>