<!DOCTYPE html>
<html>

<% include ./partials/head %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
<link rel="stylesheet" href="css/style-validate.css">

<body class="easy">
    <div class="wrapper">
        <% include ./partials/header %>
        <div class="content">
            <!-- page-wrapper -->
            <div data-scroll='3' class="full_width">
                <section class="price-plan-area section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="section-heading-three">
                                    <h2>Materiales Compatibles</h2>

                                </div>
                                <div class="plan-nav">
                                    <div class="container" id="hidden-sm">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <nav>
                                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                        <a class="nav-item nav-link active" id="nav-home-tab"
                                                            data-toggle="tab" href="#Mods" role="tab"
                                                            aria-controls="nav-home"
                                                            aria-selected="true">ELASTÓMEROS</a>
                                                        <a class="nav-item nav-link" id="nav-profile-tab"
                                                            data-toggle="tab" href="#plastic" role="tab"
                                                            aria-controls="nav-profile"
                                                            aria-selected="false">PLÁSTICOS</a>
                                                        <a class="nav-item nav-link" id="nav-contact-tab"
                                                            data-toggle="tab" href="#metal" role="tab"
                                                            aria-controls="nav-contact"
                                                            aria-selected="false">METALES</a>
                                                        <a class="nav-item nav-link" id="nav-about-tab"
                                                            data-toggle="tab" href="#nometal" role="tab"
                                                            aria-controls="nav-about" aria-selected="false">NO
                                                            METALES</a>
                                                    </div>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>


                                    <ul class="nav nav-tabs" role="tablist" id="hidden-lg">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#Mods" role="tab"
                                                aria-controls="home">ELASTÓMEROS</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#plastic" role="tab"
                                                aria-controls="profile">PLÁSTICOS</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#metal" role="tab"
                                                aria-controls="messages">METALES</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#nometal" role="tab"
                                                aria-controls="settings">NO METALES</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="plan-content">
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="Mods">
                                            <div class="form-head">ELASTÓMEROS</div>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="Las gomas naturales son polisacáridos de origen natural, capaces de causar un gran aumento en la viscosidad de una solución, incluso a pequeñas concentraciones. En su mayoría son gomas botánicas, que se encuentran en los elementos leñosos de las plantas o en los revestimientos de semillas."
                                                        rel="popover" data-placement="bottom" data-trigger="hover"
                                                        id="texts">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Goma natural</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="Neopreno o policloropreno es una familia de cauchos sintéticos que se producen por polimerización de cloropreno.​ El neopreno presenta una buena estabilidad química y mantiene la flexibilidad en un amplio rango de temperaturas. El nombre neopreno es la marca comercial del polímero de cloropreno"
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Neopreno</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="El caucho de butilo es un caucho sintético, un copolímero de isobutileno con isopreno. La abreviatura para caucho isopreno-isobutileno es IIR (Isobutylene Isoprene Rubber). El poliisobutileno, también conocido como PIB o poliisobuteno, (C4H8) n, es el homopolímero del isobutileno, o 2-metil-1-propeno, en el que se basa caucho butilo"
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Goma butilica</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="El caucho nitrilo, también conocido como Buna-N, Perbunan, o NBR, es un caucho sintético, copolímero de acrilonitrilo (ACN) y butadieno. Los nombres comerciales incluyen Krynac, Nipol y Europrene."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Goma nitrilica</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="El caucho etileno propileno (conocido por sus siglas en inglés como: 'EPR' o 'EPM'- la E hace referencia al etileno, la P al propileno y la M es la clasificación en el estándard ASTM D-1418 dado que la clase M incluye a las gomas que poseen una cadena saturada del tipo polimetileno)1​), es un tipo de elastomero sintético muy emparentado con la goma EPDM (el EPM es un copolímero del etileno y propileno, mientras que la goma EPDM es un terpolímero de etileno, propileno y dieno"
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Goma etileno-propileno</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="Tubo que se inserta directamente en el estómago a través de la pared del abdomen. Permite sacar aire y líquido del estómago y se puede usar para administrar al paciente medicamentos y líquidos, incluso alimentos líquidos"
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Tubos endoscopicos</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="Polietileno clorosolfonado es un caucho sintético, producto de la reacción de clorosulfonación de polietileno. Su abreviatura internacional es CSM (Chlor Sulfonated Methylene).
                                            La introducción de los átomos de cloro y de los grupos clorosulfónicos reduce las posibilidades de cristalización y convierte al material de un plástico cristalino, como es el polietileno, en un caucho amorfo"
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Polietileno clorosolfonado</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane " id="plastic">
                                            <div class="form-head">PLÁSTICOS</div>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="El acrilonitrilo butadieno estireno o ABS (por sus siglas en inglés Acrylonitrile Butadiene Styrene) es un plástico muy resistente al impacto (golpes) muy utilizado en automoción y otros usos tanto industriales como domésticos. Es un termoplástico amorfo."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>ABS</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="Este termoplástico amorfo dispone de una muy buena estabilidad frente a radiaciones, pocas impurezas iónicas y buena resistencia química. La temperatura en continuo se encuentra entre -100º C y +160ºC. Es un material muy adecuado para maquinaria para procesar alimentos así como para utensilios médicos, ofreciendo una muy buena resistencia a la hidrolisis y a la irradiación (permeable a microondas)."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Polisulfonas</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="El nailon o nilón1​ (grafía en español del nombre comercial Nylon, marca registrada2​) es un polímero sintético que pertenece al grupo de las poliamidas. El nailon es una fibra textil elástica y resistente, no la ataca la polilla, no precisa planchado y se utiliza en la confección de medias, tejidos y telas de punto, también cerdas y sedales. El nailon moldeado se utiliza como material duro en la fabricación de diversos utensilios, como mangos de cepillos, peines, etc."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Nylon</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="El poliestireno (PS) es un polímero termoplástico que se obtiene de la polimerización del estireno monómero. Existen cuatro tipos principales: el PS cristal o GPPS (del inglés: General Purpose Polystyrene), que es transparente, rígido y quebradizo; el poliestireno de alto impacto o HIPS (del inglés: High Impact Polystyrene),es resistente al impacto y opaco blanquecino; el poliestireno expandido o EPS (del inglés: Expandable Polystyrene; PSE en francés), muy ligero; y el poliestireno extruido, similar al expandido pero más denso e impermeable"
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Poliestireno</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="
                                            El polipropileno (PP) es el polímero termoplástico, parcialmente cristalino, que se obtiene de la polimerización del propileno (o propeno). Pertenece al grupo de las poliolefinas y es utilizado en una amplia variedad de aplicaciones que incluyen empaques para alimentos, tejidos, equipo de laboratorio, componentes automotrices y películas transparentes. Tiene gran resistencia contra diversos solventes químicos, así como contra álcalis y ácidos."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Polipropileno</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="El politetrafluoroetileno (PTFE) (más conocido como Teflón1​) es un polímero similar al polietileno, en el que los átomos de hidrógeno han sido sustituidos por átomos de flúor. La fórmula química del monómero, tetrafluoroeteno, es CF2=CF2. La fórmula del polímero se muestra en la figura."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-8 col-md-6">
                                                            <div class="con">
                                                                <h3>PTFE</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="El poliuretano es un polímero que se obtiene mediante condensación de bases hidroxílicas combinadas con diisocianatos (en general se utiliza TDI o MDI). Los poliuretanos se clasifican en dos grupos, definidos por su estructura química, diferenciados por su comportamiento frente a la temperatura."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Poliuretano</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="El policloruro de vinilo (PVC) (C2H3Cl)n2​ es el producto de la polimerización del monómero de cloruro de vinilo. Es el derivado del plástico más versátil. Se puede producir mediante cuatro procesos diferentes: suspensión, emulsión, masa y solución."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>PVC</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="El fluoruro de polivinilideno o PVDF es un fluoropolímero termoplástico altamente inerte químicamente. Se suele emplear en condiciones que requieren mucha pureza, fortaleza y elevada resistencia a ácidos, bases y disolventes, a altas temperaturas, al envejecimiento y a los rayos ultravioleta. Además, es fácil de moldear en comparación con otros fluoropolímeros debido a su punto de fusión relativamente bajo, 177 °C."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>P.V.D.F</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="El policarbonato, es un grupo de termoplásticos, fácil de trabajar, moldear y termoformar, y es utilizado ampliamente en la manufactura moderna. El nombre policarbonato se basa en que se trata de polímero que presentan grupos funcionales unidos por grupos de carbonato en una larga cadena molecular."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Policarbonato</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="El metacrilato, también conocido por sus siglas PMMA, es uno de los plásticos de ingeniería. La placa de acrílico se obtiene de la polimerización del metacrilato de metilo y la presentación más frecuente que se encuentra en la industria del plástico es en gránulos («pellas» en castellano; «pellets» en inglés) o en placas. Los gránulos son para el proceso de inyección o extrusión y las placas para termoformado o para mecanizado."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>P.M.M.A</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="El polibuteno-1 pertenece a la familia de poliolefinas de materiales termoplásticos que también incluye el polietileno y el polipropileno."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Polibutileno-1</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="price-list col-md-12"
                                                        data-content="El polietileno de alta densidad es un polímero de la familia de los polímeros olefínicos (como el polipropileno), o de los polietilenos. Su fórmula es (-CH2-CH2-)n. Es un polímero termoplástico conformado por unidades repetitivas de etileno. Se designa como HDPE (por sus siglas en inglés, High Density Polyethylene) o PEAD (polietileno de alta densidad). Este material se utiliza, entre otras cosas, para la elaboración de envases plásticos desechables."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>HDPE</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane " id="metal">
                                            <div class="form-head">METALES</div>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="El proceso de anodizado en medio sulfúrico es un tratamiento superficial del aluminio que consiste en la formación de una capa de óxido de aluminio de forma controlada, mediante un proceso electrolítico, en el cual se hace pasar una corriente continua a través de la superficie del aluminio"
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Aluminio anodizado</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12" data-content=" AW 6262 es una aleación de aluminio y un alto contenido en plomo. Su aplicación principal es la mecanización de piezas con posibilidad de anodizado
                                            de protección y duro." rel="popover" data-placement="bottom"
                                                        data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Tipo 62 62, 2011 Aluminio</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="Son aleaciones con pureza mínima del 99.5% con las siguientes clasificaciones: 1060, 1260, 5254, 5652 or 6063"
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-md-8">
                                                            <div class="con">
                                                                <h3>Aluminio (pureza minima 99.5%)
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="price">
                                                                <span class="slt"><img src="img/check.png"
                                                                        alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12"
                                                        data-content="En metalurgia, el acero inoxidable se define como una aleación de acero (con un mínimo del 10 % al 12 % de cromo contenido en masa).1​2​nota 1​ También puede contener otros metales, como por ejemplo molibdeno, níquel y wolframio."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Acero inoxidable tipo 304, 304L, 316, 316L</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="price-list col-md-12"
                                                        data-content="El uso de los aceros austeníticos son prácticamente ilimitados y se encuentran en diferentes aplicaciones como se indica  a continuación:acero-inoxidable-austeniticos

                                            Industria aeronáutica, artículos del hogar, industria lechera, industria papelera, procesos de alimento, industria textil, industrial de transportación, artículos farmacéuticos, ornamentos arquitectónicos, equipo del proceso químico, etcétera."
                                                        rel="popover" data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Acero Ni-Cr, 1.43301, 1.4401, 1.4571</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane " id="nometal">
                                            <div class="form-head">NO METALES</div>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="price-list col-md-12" data-content="" rel="popover"
                                                        data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Cuero</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12" data-content="" rel="popover"
                                                        data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Madera</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12" data-content="" rel="popover"
                                                        data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Cartón
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12" data-content="" rel="popover"
                                                        data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Moqueta</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12" data-content="" rel="popover"
                                                        data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Pinturas acrílicas</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12" data-content="" rel="popover"
                                                        data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Pinturas alquídicas</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12" data-content="" rel="popover"
                                                        data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Lacas</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="price-list col-md-12" data-content="" rel="popover"
                                                        data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Vidrieria de laboratorio</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="price-list col-md-12" data-content="" rel="popover"
                                                        data-placement="bottom" data-trigger="hover">
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="con">
                                                                <h3>Cerámica de laboratorio</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="price">
                                                                <span><img src="img/check.png" alt=""></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </div>
        </div> 
        <% include ./partials/footer %>
    </div>
    <% include ./partials/script %>
    <script src="js/validate.js"></script>

</body>

</html>