.social-icons {
  color: #313437;
  background-color: #fff;
  text-align: right;
  margin-right: 0px;
}

/* @media (max-width:767px) {
  .social-icons {
  }
} */

.social-icons i {
  font-size: 15px;
  display: inline-block;
  color: #ffffff;
  margin: 0px 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 18px;
}

