.slide {
    position: relative;
    margin: 0 auto;
    display: block;
}
.img-standart-h{
    height: 279px !important;
}
.img-standart-h-2{
    height: 239px !important;
}
.purple{
    width: 100%;
    color: #202c2d;
    text-shadow: -3px 3px 0px rgba(0,0,0,0.3);
}
.just{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flright {
    float: right;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 37px;
    margin-top: 57px;
    font-style: italic;
    font-weight: 100;
}
.ul-style{
    justify-content: center;
    align-items: center;
    margin-left: 66px;
}
h1{
    text-align:center;
    margin-bottom:50px;
    margin-top:50px;
  }
  .blog-card-blog {
      margin-top: 30px;
  }
  .blog-card {
      display: inline-block;
      position: relative;
      width: 100%;
      margin-bottom: 30px;
      border-radius: 6px;
      color: rgba(0, 0, 0, 0.87);
      background: #fff;
     
  }
  .blog-card:hover{
       box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  /* .blog-card-hospital:hover,
  .blog-card-clinica:hover,
  .blog-card-industria:hover,
  .blog-card-escuela:hover,
  .blog-card-hogar:hover{
      color: #fff !important;
    background: rgba(0,123,255,.25);
  } */
  /* .blog-card-hospital:hover .blog-table a,
  .blog-card-hospital:hover .blog-table p,
  .blog-card-clinica:hover .blog-table a,
  .blog-card-clinica:hover .blog-table p,
  .blog-card-industria:hover .blog-table a,
  .blog-card-industria:hover .blog-table p,
  .blog-card-escuela:hover .blog-table a,
  .blog-card-escuela:hover .blog-table p,
  .blog-card-hogar:hover .blog-table a,
  .blog-card-hogar:hover .blog-table p{
    color: #fff !important;
  } */
.blog-card-description{
    font-size: 16px;
}
  .blog-card .blog-card-image {
      height: 60%;
      position: relative;
      overflow: hidden;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: -30px;
      border-radius: 6px;
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  .blog-card .blog-card-image img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      pointer-events: none;
  }
  .blog-card .blog-table {
      padding: 15px 30px;
  }
  .blog-table {
      margin-bottom: 0px;
  }
  .blog-category {
      position: relative;
      line-height: 0;
      margin: 15px 0;
  }
  .blog-text-success {
      color: #28a745!important;
  }
  .blog-card-blog .blog-card-caption {
      margin-top: 5px;
  }
  .blog-card-caption {
      font-weight: 700;
      font-family: "Roboto Slab", "Times New Roman", serif;
  }
  .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .blog-card-caption, .blog-card-caption a {
      color: #333;
      text-decoration: none;
  }
  
  p {
      color: #3C4857;
  }
  
  p {
      margin-top: 0;
      margin-bottom: 1rem;
  }
  .blog-card .ftr {
      margin-top: 15px;
  }
  .blog-card .ftr .author {
      color: #888;
  }
  
  .blog-card .ftr div {
      display: inline-block;
  }
 
  .blog-card .ftr .stats {
      position: relative;
      top: 1px;
      font-size: 14px;
  }

  .blog-card .ftr .stats {
      float: right;
      line-height: 30px;
  }


  .blog-fix-card{
    background: none;
    box-shadow: none;
    margin-left: 176px;
    
  }
.d9{
    margin-left: -25px !important;
}
.d10{
    margin-left: 411px !important; 
}
.divider {								/* minor cosmetics */
    display: table; 
    font-size: 24px; 
    text-align: center; 
    width: 75%; 						/* divider width */
    margin: 40px auto;					/* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 13px;							/* adjust vertical align */
    -moz-background-size: 100% 2px; 	/* line width */
    background-size: 100% 2px; 			/* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background-image: -webkit-linear-gradient(180deg, transparent, #000);
    background-image: -moz-linear-gradient(180deg, transparent, #000);
    background-image: -o-linear-gradient(180deg, transparent, #000);
    background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
    color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #000, transparent);
    background-image: -moz-linear-gradient(180deg, #000, transparent);
    background-image: -o-linear-gradient(180deg, #000, transparent);
    background-image: linear-gradient(90deg, #000, transparent);
}
/* .divider{
    background-color: currentColor;
    min-width: 50%;
    height: 3px;
    border: none;
    margin: auto;
    position: relative;
    width: 10px;
    margin-bottom: 48px;
}
.divider:before {
    font-family: cursive;
    content: '❦';
    display: block;
    width: 20%;
    padding: 0.3em;
    font-size: 2em;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
} */

.d2{
    position: absolute;
    top: -169px;
    left: 385px;
    width: 385px;
  }
  .d2r{
    position: absolute;
    top: -169px;
    left: 19px;
    width: 385px;
  }
  .d3{
    position: absolute;
    top: -446px;
    left: 384px;
    width: 385px;
  }
  .d3r{
    position: absolute;
    top: -446px;
    left: 24px;
    width: 385px;
  }
  .zoom1{
    width: 530px;
  }

  .avatar {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

a:hover {
    color: #333 !important;
    text-decoration: none !important;
}