.main-box{
	background: #000;
	border-right: 1px solid #f9f9f9
}
.nav-item a:hover {
    color: #f9f9f9;
    text-decoration: underline;
}
.main{
	padding: 16px 0px 0px 24px;
}

.nav-fix{
	max-height: 100%;
    height: 187px;
}
.mt-fix{
	margin-top: -169px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0b79b2;
}
.title-cert {
    font-size: 14px;
    color: #585857;
    letter-spacing: 3px;
}
.big_title {
	font-size: 2em;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: -14px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(179, 171, 171, 0.8);
    -webkit-text-shadow: 2px 2px 2px rgba(179, 171, 171, 0.8);
    -moz-text-shadow: 2px 2px 2px rgba(179, 171, 171, 0.8);
    -o-text-shadow: 2px 2px 2px rgba(179, 171, 171, 0.8);
    -ms-text-shadow: 2px 2px 2px rgba(179, 171, 171, 0.8);
}

.big_title::before{
    content: '';
    height: 54px;
    width: 62px;
    background-image: url(img/bio.png);
    position: absolute;
    margin-left: 2px;
    background-size: 60px;
    margin-top: -15px;
} 

.text-shadow{
    text-shadow: 1px 1px #ffffff, -1px 1px #ffffff, 1px -1px #ffffff, -1px -1px #ffffff, 1px 1px 5px #252920;
}

.text-shadow1{
    color: #000000;
background: transparent;
text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}



.gallery {
  width: 100%;
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.gallery .item {
  width: 100%;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 40rem) {
  .gallery .item {
    padding-top: 4rem;
    padding-bottom: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.gallery .item:nth-child(even) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.gallery .item:nth-child(even) .img-wrap {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 40rem) {
  .gallery .item:nth-child(even) .img-wrap {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.gallery .item:nth-child(even) caption {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 40rem) {
  .gallery .item:nth-child(even) caption {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.gallery .item .img-wrap {
    position: relative;
    left: 112px;
    padding: 0rem;
    width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    border-radius: 50%;
}
@media (max-width: 40rem) {
  .gallery .item .img-wrap {
    width: 80%;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

.gallery .item .img-wrap img {
  display: block;
  width: 65%;
  height: auto;
  padding: 1.5rem;
  border-radius: 50%;
  
}

.gallery .item:hover .img-wrap:after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.gallery .item:nth-child(1) .img-wrap,
.gallery .item:nth-child(5) .img-wrap {
  width: 30%;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
@media (max-width: 40rem) {
  .gallery .item:nth-child(1) .img-wrap,
  .gallery .item:nth-child(5) .img-wrap {
    width: 60%;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

.gallery .item:nth-child(2) .img-wrap,
.gallery .item:nth-child(4) .img-wrap {
  width: 40%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
@media (max-width: 40rem) {
  .gallery .item:nth-child(2) .img-wrap,
  .gallery .item:nth-child(4) .img-wrap {
    width: 70%;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

.gallery .item .caption {
    padding-right: 0rem;
    padding-left: 0rem;
    position: relative;
    color: #999999;
}
@media (max-width: 40rem) {
  .gallery .item .caption {
    padding-top: 1rem;
  }
}
.caption {
    box-shadow: none;
    transition: all 0.3s ease 0s;
}
.gallery .item .caption h3 {
  position: relative;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.gallery .item .caption a {
  display: inline-block;
  position: relative;
  padding: 0.3rem 1rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
}
.gallery .item .caption .btn-buy {
  margin-right: 1rem;
  color: #D4AF37;
  border: 1px solid #D4AF37;
  letter-spacing: 1px;
}

.galeryItms{
  position: absolute;
  left: 38px;
  top: 49px;
  background: transparent;
  font-size: 21px;
  line-height: 1;
  color: #287b76;
  font-family: Rancho;
  font-weight: bold;
  text-shadow: 0px 1px #fff, -1px 1px #1ba29a;
}
.dark {background:rgba(179, 171, 171, 0.03);}

#sec01 {
  max-width: 100%;
  width: 100%;  
  margin: 0 auto;
  padding: 50px 2% 50px;
  color: #8f8f8f;
  background: white;
  font-family: "Oswald", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.blog-card-blog {
  margin-top: 30px;
}
.blog-card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
 
}
.blog-card:hover{
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.blog-card-hospital:hover,
.blog-card-clinica:hover,
.blog-card-industria:hover,
.blog-card-escuela:hover,
.blog-card-hogar:hover{
  color: #fff !important;
background: rgba(0,123,255,.25);
}
.blog-card-hospital:hover .blog-table a,
.blog-card-hospital:hover .blog-table p,
.blog-card-clinica:hover .blog-table a,
.blog-card-clinica:hover .blog-table p,
.blog-card-industria:hover .blog-table a,
.blog-card-industria:hover .blog-table p,
.blog-card-escuela:hover .blog-table a,
.blog-card-escuela:hover .blog-table p,
.blog-card-hogar:hover .blog-table a,
.blog-card-hogar:hover .blog-table p{
color: #fff !important;
}

.blog-card .blog-card-image {
  height: 60%;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.blog-card .blog-card-image img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  pointer-events: none;
}
.blog-card .blog-table {
  padding: 15px 30px;
}
.blog-table {
  margin-bottom: 0px;
}
.blog-category {
  position: relative;
  line-height: 0;
  margin: 15px 0;
}
.blog-text-success {
  color: #28a745!important;
}
.blog-card-blog .blog-card-caption {
  margin-top: 5px;
}
.blog-card-caption {
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.blog-card-caption, .blog-card-caption a {
  color: #333;
  text-decoration: none;
}

p {
  color: #3C4857;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.blog-card .ftr {
  margin-top: 15px;
}
.blog-card .ftr .author {
  color: #888;
}

.blog-card .ftr div {
  display: inline-block;
}

.blog-card .ftr .stats {
  position: relative;
  top: 1px;
  font-size: 14px;
}
.slider--els {
  left: 23px;
  margin-top: -30px;
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.blog-card .ftr .stats {
  float: right;
  line-height: 30px;
}


.blog-fix-card{
background: none;
box-shadow: none;

}
.fz-16{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
}

.uper{
	text-transform: uppercase;
}

section {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
  }
  
  h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #333;
	font-size: 1.825rem;
	margin: 1.3rem 0;
  }


  
#categories{
  overflow: hidden;
  width: 152%;
  margin: 0 auto;
  margin-left: -196px;
  margin-top: -50px;
  }
  .clr:after{
	content:"";
	display:block;
	clear:both;
  }
  #categories li{
	position:relative;
	list-style-type:none;
	width:27.85714285714286%; /* = (100-2.5) / 3.5 */
	padding-bottom: 32.16760145166612%; /* =  width /0.866 */
	float:left;
	overflow:hidden;
	visibility:hidden;
   
	-webkit-transform: rotate(-60deg) skewY(30deg);
	-ms-transform: rotate(-60deg) skewY(30deg);
	transform: rotate(-60deg) skewY(30deg);
  }
  #categories li:nth-child(3n+2){
	margin:0 1%;
  }
  #categories li:nth-child(6n+4){
	margin-left:0.5%;
  }
  #categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6) {
	  margin-top: -6.9285714285%;
	margin-bottom: -6.9285714285%;
	
	-webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
	-ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
	transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  #categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child{
	margin-bottom:0%;
  }
  #categories li *{
	position:absolute;
	visibility:visible;
  }
  #categories li > div{
	width:100%;
	height:100%;
	text-align:center;
	color:#fff;
	overflow:hidden;
	
	-webkit-transform: skewY(-30deg) rotate(60deg);
	-ms-transform: skewY(-30deg) rotate(60deg);
	transform: skewY(-30deg) rotate(60deg);
	
	  -webkit-backface-visibility:hidden;
	
  }
  
  /* HEX CONTENT */
  #categories li img{
	left:-100%; right:-100%;
	width: auto; height:100%;
	margin:0 auto;   
  }
  
  #categories div h1, #categories div p{
	
  }
  #categories li h1{
	bottom:110%;
	font-style:italic;
	font-weight:normal;
	font-size:1.5em;
	padding-top:100%;
	padding-bottom:100%;
  }
  #categories li h1:after{
	  content:'';
	display:block;
	position:absolute;
	bottom:-1px; left:45%;
	width:10%;
	text-align:center;
	z-index:1;
	border-bottom:2px solid #fff;
  }
  #categories li p{
	  padding-top:50%;
	  top:110%;
	  padding-bottom:50%;
  }
  
  
  /* HOVER EFFECT  */
  
  #categories li div:hover h1 {
	bottom:50%;
	padding-bottom:10%;
	width: 100%;
    background-color: #008080;
    background-color: rgba(0, 128, 128, 0.8);
    font-family: 'Raleway', sans-serif;
    -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
    -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
    transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
    position: absolute;
    top: -7px;
    height: 202px;
  }
  
  #categories li div:hover p{
	top:50%;
	padding-top:10%;
  }
  .spans{
	position: absolute;
    top: 83px;
	left: 7px;
	font-size: 15px;
  }
  #fork{
	position:fixed;
	top:0;
	left:0;
	color:#000;
	text-decoration:none;
	border:1px solid #000;
	padding:.5em .7em;
	margin:1%;
	transition: color .5s;
	overflow:hidden;
  }
  #fork:before {
	content: '';
	position: absolute;
	top: 0; left: 0;
	width: 130%; height: 100%;
	background: #000;
	z-index: -1;
	transform-origin:0 0 ;
	transform:translateX(-100%) skewX(-45deg);
	transition: transform .5s;
  }
  #fork:hover {
	color: #fff;
  }
  #fork:hover:before {
	transform: translateX(0) skewX(-45deg);
  }